[2020-09-02 13:42] durandom opened #1 "Getting started document with cd and cd-crc"
document your steps to setup an environment

[2020-09-02 13:58] durandom opened #2 "Find a nice logo for Operate First"
maybe somebody can draw? or find a CC image...

[2020-09-02 14:03] cfchase opened #3 "Create bot account with Personal Access Token for use for CI CD"
Currently, operate-first.github.io uses Travis for CD.  It pushes built assets to gh-pages branch which is served on https://operate-first.github.io/.  This requires a "personal access token" with repo access.

https://travis-ci.org/github/operate-first/operate-first.github.io

Instead of using a real human personal access token, we should create a bot user with access to push the deployed assets.

[2020-09-02 14:10] cfchase commented on #3
Side note: I'm using Travis, but the CD pipeline is simple. We could change it to use whatever you want.

[2020-09-04 13:38] durandom opened #5 "Add one open source data science blog post to this repo"
This should be the basis for proving this `post` -> `notebook render` -> `notebook deploy` workflow.

So maybe we can choose one where we already have a good notebook and jupyterhub image for

[2020-09-04 14:27] oindrillac commented on #5
Discussed this with @shreyanand, we will start with the Categorical Encoding blog.
We have a blog ready [here](https://docs.google.com/document/d/1BQ9AGyZMMTt_r0tdgHrfs_1nD_CM8KxYA5aUfluhO1A/edit#).
@shreyanand, can we add this as a .md to this repo?

[2020-09-04 14:28] oindrillac commented on #5
@durandom by around when do we want this blog to be ready? do you have a rough timeline?

[2020-09-07 07:34] goern commented on #3
@sesheta is not part of the team, all repos are added to prow...

[2020-09-07 07:34] goern commented on #3
/kind feature

[2020-09-07 07:36] goern commented on #2
what about this: https://thenounproject.com/term/operator/1156395/

[2020-09-08 06:59] martinpovolny commented on #1
* Setup CRC https://developers.redhat.com/products/codeready-containers/overview
 * Get `kustomize` and KSOPS using steps in https://aicoe.github.io/aicoe-cd/manage_your_app_secrets/
      * If hit with ``` unrecognized import path "vbom.ml/util": https fetch: Get "https://vbom.ml/util?go-get=1": dial tcp ```,
fix it with https://github.com/viaduct-ai/kustomize-sops/issues/60
 * Fork https://githu

[2020-09-09 09:20] tumido commented on #2
1. What about something like this? https://thenounproject.com/term/ouroboros/2906151/
  Ouroboros kinda resembles the CI/CD process, it's a never ending circle. It also looks like an capital "O" letter from "Operate". We can maybe put something in the middle? Another icon, that would signify what is being operated maybe?

2. Operate 1st - capital letters also reminds me of binary "01", that might

[2020-09-09 09:27] durandom commented on #3
not sure what that means, can we stick to Travis CI and create an access token for @sesheta to perform pushing?

Right now the updates are pushed by "Travis CI User" https://github.com/operate-first/operate-first.github.io/commits/gh-pages

[2020-09-09 09:29] durandom opened #6 "add more information to gh-pages push"
Can we configure the gh-pages plugin to include more information in the push to the gh-pages branch?

https://github.com/operate-first/operate-first.github.io/commits/gh-pages

E.g. adding the PR that resulted in the change?

Not super important, if it's not straightforward to implement

[2020-09-09 09:31] goern commented on #3
we are able to create a task for the aicoe-ci pipeline that would do the build and commit to the gh-pages branch...

/kind feature

[2020-09-09 09:32] durandom opened #7 "deploy to OpenShift cluster"
add documentation and manifest files to serve the `gh-pages` branch and/or a build of the website from an OpenShift namespace.

This probably includes a webserver (nginx?) and some mounted volume for the assets and html pages.
Or maybe we can include the assets in a container

[2020-09-09 09:34] durandom opened #8 "render JupyterNotebooks"
During the build process, render an HTML version of a JupyterNotebook.
Preferably with some ability to

* adjust the style (CSS)
* add some header/footer content

[2020-09-09 09:36] durandom opened #9 "include remote git repositories in build"
ability to include https://github.com/operate-first/continuous-deployment/tree/master/docs in the rendered output.

- white/blacklisting of included files
- add name for repo to sidebar
- add files as navigation to sidebar

[2020-09-09 09:37] durandom opened #10 "google analytics"
or any other preferred provider for website stats - just use what's currently implemented at odh.io

[2020-09-09 09:41] durandom opened #11 "preview PR"
Travis can also build PRs. Is there a way to preview the output of a PR build?
Maybe there's a free service to serve HTML pages? How are others in the gatsby community solving this?

Maybe
https://www.linode.com/docs/websites/static-sites/install-gatsbyjs/#preview-your-site-with-netlify

this is probably a bit tricky.

[2020-09-09 10:07] tumido commented on #6
Should be pretty easy to do. :) You can choose your desired message from these variables: https://docs.travis-ci.com/user/environment-variables/ (btw, this is not a PR build, but rather a push build, so pull request specific variables are not available)

My take: https://github.com/operate-first/operate-first.github.io/pull/12

[2020-09-10 12:57] goern commented on #2
I like 2. :)

[2020-09-14 11:17] durandom opened #15 "document setup process"
document the steps to re-create a similar site with CI build integration

[2020-09-15 12:30] durandom opened #16 "build and publish operate-first gatsby image"
what does that image contain?
how do we publish the image to https://quay.io/organization/aicoe

[2020-09-15 14:36] HumairAK commented on #16
Not sure about the former, but for the latter - set up the build pipeline via these instructions: https://github.com/AICoE/aicoe-ci#setting-aicoe-ci-on-github-organizationrepository

for the `continuous-deployment` repo we're doing tag builds, but you can also set up automatica pr merge -> tag -> build as well afaik.

[2020-09-15 15:15] goern commented on #16
do we want to have (a) a container image that can do s2i or (b) do we want it to be used in tekton pipelines?

I would go w/ (b) only...

[2020-09-15 16:29] cfchase commented on #16
Right now, the simplest starting point for me was a nodejs container built with s2i.  I figured that would be the easiest thing to automate and I could do using any pipeline.

I added a Makefile in my WIP branch with some associated scripts.
https://github.com/operate-first/operate-first.github.io/compare/master...s2i

I'll take a look at the Tekton continuous-deployment stuff

[2020-09-16 13:56] #7 closed

[2020-09-16 16:38] cfchase opened #18 "Update CSS and format of document posts"
Tracking item to review the look of the documents and add fields to front matter like:
- permalink
- date created
- authors
- tags

[2020-09-16 17:13] oindrillac commented on #18
Nicely formatting those metadata fields would be great @cfchase.
Also, I like the CTA buttons here in this [blogpost](https://airbnb.io/projects/airflow/). As you are looking into some formatting of the blogpost, can we add CTA buttons similar to above w/ links to useful resources like Git Repo, public JupyterHub Instance etc within the blog?

[2020-09-16 19:09] #10 closed

[2020-09-17 06:46] goern commented on #15
1. create a utility container with gatsby
2. create tekton task to `gatsby build`
3. create pipeline triggered by push to master to
3.1. pull master
3.2. `gatsby build`
3.3. * commit to `gh-pages` branch

/kind feature
/assign @harshad16
/priority important-soon

[2020-09-17 06:46] goern commented on #15
where is all my cyborgs to help me?!

[2020-09-17 18:02] goern commented on #16
and s2i compliant image is good enough, @harshad16 can easily wrap it up in a tekton task, its some boilerplate from https://github.com/tektoncd/catalog/tree/master/task/s2i/0.1

[2020-09-17 21:11] cfchase commented on #11
I'll have to look into this a bit deeper.

For now, contributors can use their own GitHub pages site to preview changes and they could link it in their PR to show reviewers.  Unfortunately, it's just a single site per contributor, not for each PR.

Maybe this won't solve the problem, but it's at least it's easy and useful. https://github.com/operate-first/operate-first.github.io/pull/20

[2020-09-18 05:51] harshad16 commented on #15
@goern thanks for structing the working point.
i will work on it starting next week in aicoe-ci.
https://github.com/AICoE/aicoe-ci/issues/59

i would like to discuss the trigger part of it.
trigger on each push seems , to heavy for current ci infrastructure(psi).
we can have it trigger via an issue or on tag release.
i personally would like an issue, as through that ci would be able to comment on

[2020-09-18 06:01] harshad16 commented on #16
we can setup an image repository in aicoe, and then can setup bots in quay.io which can be used for pushing the image, through a ci system which builds it.
so in this scenario,
- setup an image repository in aicoe: The developer of aicoe has to do this, and attach `aicoe+aicoe_pusher` to that repository.
- All the rest can be configured through aicoe-ci.

[2020-09-18 07:10] goern commented on #2
“Operator” icon by goyacommae from the Noun Project.

https://thenounproject.com/term/operator/1196725/

[2020-09-18 07:12] goern commented on #2
![noun_operator_1196725](https://user-images.githubusercontent.com/260331/93567564-1ec3a800-f98f-11ea-9377-09720b76448f.png)

[2020-09-18 07:14] goern commented on #2
looks like an On/Off ("have you tried to switch it off and on again?"), looks like this continouousoosss snake thingy, and it is **O**p**1**st

[2020-09-18 07:26] tumido commented on #2
That is genius! ￼:smile: It's all of them together! :+1:  It also looks like a child scribbling, which perfectly describes the project so far. :slightly_smiling_face: I mean.. the slightly "amateurish" look gives it an extra dimension. I like the irony in that :+1:

[2020-09-18 08:42] goern commented on #2
🤘

[2020-09-18 09:55] tumido commented on #11
I think we can push it a bit forward with `gh-pages` tweaks. See #21

I've made `gh-pages` to deploy multiple instances of the repo into the same`gh-pages` branch in the fork, so each contributor can now host multiple instances of the pages.

[2020-09-18 13:19] cfchase commented on #11
I like it!  My only comment was we can offer both the preview fork and preview pr tasks separately.

[2020-09-18 13:44] cfchase commented on #11
If this is not enough, we can probably come up with a system where a separate preview site is created, a CI task downloads and builds PRs, and pushes each PR the same way you're deploying them in subdirectories.  We probably wouldn't want to do them in this org though cause they'd show up underneath our main site.

[2020-09-21 08:34] #11 closed

[2020-09-22 17:08] oindrillac opened #23 "Add logo to website"
- [x] Use logo from [#2](https://github.com/operate-first/operate-first.github.io/issues/2) and create logo with the text "Operate First"

- [x] Add operate-first logo to website

- [x] Add just the logo as a favicon

[2020-09-22 17:55] oindrillac commented on #9
this would allow us to include DS blogs/tutorials from within individual repos.

[2020-09-22 18:07] oindrillac opened #24 "Add overview of all projects"
- [ ] Add AIOps project overviews from [doc](https://github.com/aicoe-aiops/data-science-workflows/blob/master/docs/aiops-projects.md) to operate-first repo.
- [ ] Add overview as an item on left toc, and find a suitable header - probably "Projects Overview"

[2020-09-22 18:49] aakankshaduggal commented on #24
Wanted to confirm folder should we add this document to?
[Here](https://github.com/aakankshaduggal/operate-first.github.io/tree/master/content/docs) or should we make a separate folder for documentation?

[2020-09-22 21:08] oindrillac commented on #23
Hereis our Operator icon by goyacommae in Red Hat Display Heavy font Camel cased
![operate-first](https://user-images.githubusercontent.com/32435206/93937211-5adf6b80-fcf5-11ea-937c-080dda89466f.png)
Red Hat Display Heavy Upper cased
![operate-first-caps](https://user-images.githubusercontent.com/32435206/93937279-764a7680-fcf5-11ea-8a84-6fef52d08019.png)
Manrope Bold Upper cased
![operate-first-i

[2020-09-23 06:23] goern commented on #23
RH font!! :)

[2020-09-23 06:25] goern commented on #9
we would be happy if we could include our sphinx-generated API doc.

@saisankargochhayat @harshad16 @fridex

[2020-09-23 07:30] durandom opened #25 "Document / Site Search"
We could also implement some sort of document search to index the docs and tags if that interests

as per https://github.com/operate-first/operate-first.github.io/pull/14#issuecomment-693525036

[2020-09-23 07:34] durandom opened #26 "render sphinx API docs"
As per https://github.com/operate-first/operate-first.github.io/issues/9#issuecomment-697160394

we would be happy if we could include our sphinx-generated API doc.

Is sphinx based on asciidoc? IIRC it's extracting the inline docs to an HTML output.
See https://www.gatsbyjs.com/plugins/ for plugins, maybe there's a transformer for an output that can be generated by sphinx.

[2020-09-23 07:40] #5 closed

[2020-09-23 07:44] durandom commented on #1
@martinpovolny I think you started documenting this somewhere else? And did we want to add the documentation into https://github.com/operate-first/continuous-deployment/tree/master/docs/downstream ?

[2020-09-23 11:33] martinpovolny commented on #1
@durandom : yes, I started by forking the repo. But nvm, I've created a PR similar to what @tumido did. I think we should try to be consistent.

[2020-09-23 12:33] oindrillac opened #27 "Link Operate First Community Manifesto to repo"
- [ ] Link [operate first community manifesto](https://openinfralabs.org/operate-first-manifesto/) from Website.

@cchase is there a way to redirect an item in the toc on the left to an external url?

[2020-09-23 19:06] aakankshaduggal commented on #24
ping @oindrillac @hemajv

[2020-09-23 21:30] #8 closed

[2020-09-25 09:32] durandom commented on #24
@aakankshaduggal yes, that folder is good. Also make sure to only include public projects

[2020-09-25 09:34] durandom commented on #27
@oindrillac I would not redirect menu/toc entries. That sounds counterintuitive to me. For content like this, let's create a "resources" or "links" page

[2020-09-25 12:41] cfchase commented on #9
@durandom I'm assuming I reformat and rearrange the Markdown files in the [cd docs](https://github.com/operate-first/continuous-deployment/tree/master/docs) to work with the Gatsby processing?

@goern can you point me in the direction of the sphinx generated docs?  How rigid is the output and format?

[2020-09-25 13:00] oindrillac commented on #27
@durandom sounds good!

[2020-09-29 10:06] tumido commented on #25
Gatsby can also integrate with [Algolia](https://www.algolia.com/), which is a go-to search service for many other open source projects... It is capable of full text as well as keyword searches on any static, server side rendered sites.

https://www.gatsbyjs.com/docs/adding-search-with-algolia/

[2020-09-29 12:03] oindrillac opened #31 "Fix links in references of categorical encoding blog"
The markdown looks fine but the links in the categorical encoding blog references do not render accurately.

[2020-09-29 13:04] cfchase commented on #9
- no whitelist is supported by the gatsby-source-filesystem, but you could add each file individually.  It's generally not necessary since it's statically compiled though and wouldn't be included in the built files
- blacklist supported using optional `ignore` field

The `toc.yaml` is merged with other tocs, that way a single docs can have multiple sections.  If you want a group for a subrepo you

[2020-09-29 16:34] oindrillac opened #32 "Blog post on basic interaction with prometheus metrics using the API"
Linked to AICoE/prometheus-api-client#164

[2020-09-29 21:09] cfchase commented on #23
WIP merged.  I put the png with the RH font, reversed it so it worked on the black background.  Also fixed the favicon to match.  @oindrillac if you update the logo just let me know.  Also, an svg would be a bit sharper if that's available.  Let me know what you guys think.

![Screenshot from 2020-09-29 17-07-54](https://user-images.githubusercontent.com/1448375/94615869-7955e180-0276-11eb-9338-25

[2020-09-30 14:13] cfchase commented on #26
https://www.sphinx-doc.org/en/master/usage/markdown.html

[2020-09-30 18:07] oindrillac commented on #23
@cfchase looks good. I am attaching the high resolution white png and svg herewith. I also tweaked the spacing b/w words and b/w the 2 words a little bit. I was having some trouble exporting .svg through Gimp, so had to use an online software, not sure if its perfectly formatted. Hope one of these work.
[operate-first-logo-hi-res-white.zip](https://github.com/operate-first/operate-first.github.io/

[2020-09-30 18:15] cfchase commented on #23
@oindrillac try inkscape.  It's the bees knees for svgs and logos!

[2020-09-30 18:19] oindrillac commented on #23
ah looks neat. Will try that out. Thanks @cfchase

[2020-10-01 14:36] #1 closed

[2020-10-02 21:12] #9 closed

[2020-10-02 21:31] cfchase commented on #9
I added this so you wouldn't have to change or manage any `git submodule` or `git subtree` stuff.  You can just clone stuff here and ignore it and use it as if it was any local directory.  However, if you want to switch to subtrees, feel free to take out the `gitSrc`.  Plenty of options.  The navbar configuration can be local or from the remote repo.

![Screenshot from 2020-10-02 17-29-01](https:/

[2020-10-02 21:48] oindrillac commented on #9
@cfchase, can you please document the steps needed to add remote content?
- adding the remote repo url and directory to content-sources.yaml
- adding a repo-toc.yaml in the content/ dir enlisting the docs needed to be included from the remote repo
- adding the repo-toc.yaml in the toc-sources.yaml
Am i missing steps out here?

[2020-10-05 14:39] cfchase commented on #23
@oindrillac I updated with the new PNG.  Since PNGs don't scale well, I don't see much difference.  However, on the SVG, doesn't seem to show the icon.  Looking at the SVG I think it just took the PNG and embedded it in an SVG format, so it probably wouldn't scale, either, since it's just and SVG wrapping the PNG and not a scalable vector.

[2020-10-06 15:08] #27 closed

[2020-10-06 15:17] oindrillac commented on #9
ping @cfchase

[2020-10-06 15:17] oindrillac opened #37 "Link categorical data repo"
- [ ] Link categorical encoding repo as a remote repo from this repository, and fetch content remotely

[2020-10-06 15:24] oindrillac opened #38 "Get any other ready-to-publish documents from continuous-deployment repo linked to this repo"

[2020-10-08 18:58] hemajv opened #39 "Find a suitable name for the "marketing" efforts wrt Operate First initiative"
what do you think about naming it something like `Community Support`?
@aakankshaduggal @oindrillac @durandom

[2020-10-08 19:27] aakankshaduggal commented on #39
Sounds better :+1:

[2020-10-15 14:33] SankBad opened #40 "Blog is unable to render tables in correct format"
I am trying to publish a blog. I made all the suggested changes in my fork repository.
I build the site locally for testing purposes and found out that table is not rendered.

Fork repo: [Link](https://github.com/SankBad/operate-first.github.io)

Blog markdown format: [Link](https://github.com/SankBad/operate-first.github.io/blob/master/content/advanced-topics/configuration-file-analysis/index.md)

[2020-10-15 14:40] SankBad commented on #40
@oindrillac @cfchase

[2020-10-19 19:23] oindrillac commented on #40
@cfchase I was able to reproduce this, here's the test build on my [github pages](https://oindrillac.github.io/operate-first.github.io/cfa/blog). Currently there are no table boundaries
- Link to my [fork](https://github.com/oindrillac/operate-first.github.io)
- Link to the remote [blog](https://github.com/oindrillac/configuration-files-analysis/blob/master/docs/blog.md)

I also tried with .md tab

[2020-10-19 19:35] oindrillac opened #42 "document steps to add remote repo"
Document steps involved in including content from remote repos in build (steps from #9)

- [ ] Update README with an example & standards to follow
- [x] Record demo

[2020-10-19 19:36] oindrillac opened #43 "Link documentation from SRE repo"
Remotely add documentation and content from SRE repo

[2020-10-19 19:37] #23 closed

[2020-10-20 15:16] oindrillac opened #45 "Create documentation with purpose of website."
Update landing page with clearer purpose of the website.

[2020-10-20 15:29] durandom commented on #16
@cfchase I think if you finish your WIP branch so that we can build an s2i image locally and deploy it to a namespace would be good. Then @harshad16 can take it from there.

We'd like to look into running another version of this operate-first site in PSI and quicklab soon

/cc @oindrillac

[2020-10-20 15:33] durandom commented on #16
Or is https://github.com/operate-first/operate-first.github.io#running-on-openshift containing all we need?

[2020-10-20 16:37] cfchase commented on #31
This should work if you escape the `[1]` as `\[1\]`.  Gatsby is recognizing the `[ ]` as the link ref.

[code]

[2020-10-20 16:54] oindrillac commented on #40
@SankBad please see [comment](https://github.com/operate-first/operate-first.github.io/issues/31#issuecomment-712991434) by @cfchase for fixing the formatting issue with references :slightly_smiling_face:

[2020-10-20 16:59] SankBad commented on #40
Great :+1: Thanks for letting me know.

[2020-10-20 17:08] #42 closed

[2020-10-20 18:22] cfchase commented on #16
@durandom I merged it in awhile ago, so it should be done.  If it's not doing what you need, let me know

[2020-10-20 22:16] cfchase commented on #40
__TLDR__: Use markdown table or use patternfly classes such as the [docs](https://www.patternfly.org/v4/components/table/html) so the styles get applied.
[code]

[code]

__Long Explanation__:
Looks like the html is rendering just fine, but the table styles aren't applied.  We've included the patternfly React components and CSS but they require classes on the html for style.  In this case, the abov

[2020-10-20 22:16] #40 closed

[2020-10-21 17:07] 4n4nd commented on #16
@cfchase I was trying to create a new image from this repo but it failed with the following error:
[code]
The error seems to be from a file in a different repo ([here](https://github.com/operate-first/continuous-deployment/blob/master/docs/downstream/on-cluster-persistent-storage/README.md))

This looks like it is building the web page during the image build. We might need to add an "image build t

[2020-10-21 18:55] cfchase commented on #16
@4n4nd I was just looking at this because it was failing it's [Travis deployment](https://travis-ci.org/github/operate-first/operate-first.github.io/builds/737554352).

https://github.com/operate-first/operate-first.github.io/pull/48 should resolve it. It built fine for me now.  The remote repo was added as an example has a bunch of stuff not meant for publication.

[2020-10-21 18:58] cfchase commented on #38
@oindrillac the docs folder might need to be cleaned up to match the standard structure or a separate publish folder might need to be made.  I ignored problematic `README.md` files in a [PR](https://github.com/operate-first/operate-first.github.io/pull/48) due to a problem building.  https://github.com/operate-first/operate-first.github.io/issues/16#issuecomment-713722463

[2020-10-21 19:05] oindrillac commented on #38
@cfchase I agree with this. Currently we are processing a bunch of unnecessary files during the build. I think we can have a dedicated `publish` folder in our remote repos only meant to contain docs to be integrated with this repo.

[2020-10-21 19:12] cfchase commented on #18
Should break out patternfly as a theme.  Perhaps similar to:
- https://github.com/patternfly/patternfly-org
- https://github.com/jschuler/gatsby-theme-patternfly

[2020-10-22 13:25] 4n4nd commented on #16
@cfchase can a similar issue occur from markdown files that are meant for publication?

[2020-10-22 16:13] oindrillac opened #50 "move blogs into independent sub-directory"
Move blog to be published into an independent sub-directory in continuous-deployment repo and update readme instructions ([#38 comment](https://github.com/operate-first/operate-first.github.io/issues/38#issuecomment-713804474))

[2020-10-22 18:47] hemajv commented on #50
so only the docs which are ready to be rendered on the website need to be placed in the `publish` sub-directory?

[2020-10-22 18:55] oindrillac commented on #50
@hemajv yes. this is so that we do not include the unnecessary files during build

[2020-10-22 22:46] cfchase commented on #16
Yes, the build would still benefit from CI.

[2020-10-26 13:38] #50 closed

[2020-10-26 17:57] oindrillac opened #52 "Discuss structure of content directories in remote-repos"
Earlier in [issue](https://github.com/operate-first/operate-first.github.io/issues/16#issuecomment-713722463), we faced a build issue from files which were not meant for publication on the website.

We need to determine whether having separate folder(s) within the remote repos for the files we are planning to include on the website is the way to go.

ref:
1. [comment](https://github.com/operate-fi

[2020-10-26 21:10] hemajv commented on #52
@oindrillac @cfchase would it be possible to have a nested structure of folders that could be included in the table of contents. For eg: if I want to structure something like:

[code]

[2020-10-27 11:44] durandom commented on #52
The documentation in the source repos (e.g. continous-deployment or categorical-data-encoding) should remain consumable on it's own (e.g markdown links between items) and it should not have a dependency on this outlet here (e.g. not contain any metadata required by the op1st website)
But it can add metadata, which then could be used by the op1st website (but it's not a requirement).

[2020-10-27 11:53] durandom commented on #52
I guess we would need to create a dynamic toc file like https://github.com/operate-first/operate-first.github.io/blob/master/toc-sources.yaml
How much effort would it be to parse a directory structure instead of a toc file?
Otherwise we can start with adding the structure explicitly.

[2020-10-27 14:25] cfchase commented on #52
I designed the content repos to work from anywhere, but I never really designed it so you can put all kinds of garbage in it.  I think some sort of structure and standards should apply or else you're going to break the build on a regular basis.

I don't think the left hand nav from patternfly supports 3 levels of expanding links, and it might be annoying to have to follow it down.  I think there m

[2020-10-27 14:56] hemajv commented on #52
I did try to define the nested structuring in the toc file (https://github.com/operate-first/operate-first.github.io/blob/master/content/cd-toc.yaml) with something like:

[code]
but the website didn't render it, so I might be missing something...@cfchase would you happen to know if there is another way I should be going about this?
Another issue is to figure out how to link documents from these m

[2020-10-27 15:10] hemajv commented on #52
@cfchase So would we need to structure the docs differently in our repo i.e. create separate folders for `quicklab` and `crc`? And would it still be possible to link documentations between them?

[2020-10-28 19:47] oindrillac opened #55 "Render relative git urls in site"
Github relative links do not work for the Gatsby site.

In context to https://github.com/operate-first/operate-first.github.io/pull/53, there seems to be some issues in linking docs between multiple folders. The links seem to differ for the website and the GitHub repo.

For instance, we have a doc here: https://hemajv.github.io/operate-first.github.io/cd-quicklab/odh-install-quicklab which contain

[2020-10-28 19:58] cfchase commented on #55
As far as the relative part of this, you probably want to go one level up in the directory structure and that way you can use the same prefix.

As far as process .md files as links, you can customize the link generation https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/?=mdx or fork the plugin.

[2020-10-28 20:00] #24 closed

[2020-10-30 13:28] oindrillac opened #57 "Add Help page"
Add `Contribute` page to Website which points to this repo, and requests creation of issues for missing documentation.
Possibly extend this by adding an imprint (who is the site owner etc)/ (eg. see footers on community pages)

[2020-10-30 13:30] oindrillac opened #58 "Fix Quick Installation url in basic tutorial"
Fix `Quick Installation` url in [Basic Tutorial](https://operate-first.github.io/getting-started/basic-tutorial). Add documentation from https://gitlab.com/opendatahub/opendatahub.io/-/blob/master/pages/docs/getting-started/beta/quick-installation.md

[2020-10-30 15:38] hemajv opened #59 "Add an MOC page"
Add a new section on the nav bar to include on-boarding documents for users related to MOC such as logging into JupyterHub etc

[2020-10-30 15:46] oindrillac commented on #59
- [ ] Link on-boarding / getting access to cluster [doc](https://gitlab.com/open-infrastructure-labs/moc-cnv-sandbox/-/blob/master/docs/about-the-cluster.md#request-access-to-the-moc-cnv-cluster)
- [ ] Create doc on how to spin up JH - link to [doc](https://gitlab.com/opendatahub/opendatahub.io/-/blob/master/pages/docs/getting-started/beta/quick-installation.md#create-a-new-open-data-hub-deploymen

[2020-10-30 16:20] oindrillac commented on #58
Should we simply point to this [quick installation doc](http://opendatahub.io/docs/getting-started/quick-installation.html) from opendatahub.io to this website under `Basic Tutorial` or should we add the quick-installation doc to this website as remote content from the [repo](https://gitlab.com/opendatahub/opendatahub.io/-/blob/master/pages/docs/getting-started/beta/quick-installation.md). Does th

[2020-10-30 16:45] #58 closed

[2020-10-30 18:22] oindrillac commented on #45
Working document for updated landing page is here: https://docs.google.com/document/d/1mLC9pxzaV7S9TT8o6-GS505h48aW4bKpSHK3LY8PMR0/edit?usp=sharing

I included the first paragraph from our current landing [page](https://operate-first.github.io/operate-first/). Maybe we can move "Phases" to a separate doc which can go under "Resources".

Please feel free add your suggestions.

cc: @durandom @hemajv

[2020-11-02 18:12] oindrillac opened #62 "Unable to view changes on github pages branch"
I am unable to preview my changes on my fork's branch

* Here's my github fork [master](https://github.com/oindrillac/operate-first.github.io.git) and as i do `make gh-pages-fork` I am able to view my changes on gh pages [https://oindrillac.github.io/operate-first.github.io/operate-first/](https://oindrillac.github.io/operate-first.github.io/operate-first/).

* However, on my [branch](https://gith

[2020-11-03 16:07] oindrillac commented on #38
An easy current fix couldbe to lint the document which is throwing an error or update the .yaml to individually link the documents which are being published.

[2020-11-04 08:46] goern opened #63 "`make build` fails and complains about docker"
using Fedora33 (and podman), when I run `make build` I get

[code]

[2020-11-04 13:53] tumido commented on #62
You're not missing anything out. It seems there's a bug somewhere.

I think your branch preview didn't get previewed/committed to the `gh-branch` at all. When you execute the `make gh-pages-branch` it actually runs [this command](https://github.com/operate-first/operate-first.github.io/blob/724d7075bf8326e30804aaca126d1a8f7cd3dade/package.json#L18) behind the scenes (The key is the last command in

[2020-11-04 14:46] #59 closed

[2020-11-05 12:15] oindrillac opened #70 "cleanup placeholder docs"
Cleanup placeholder documents from website which were included in the initial version of the site.

[2020-11-05 12:16] oindrillac opened #71 "redirect click on logo to home"
redirect click on logo on top left to Home page

[2020-11-05 13:54] oindrillac commented on #55
@cfchase is this something you can look into?

[2020-11-05 15:21] #62 closed

[2020-11-05 16:49] oindrillac opened #72 "Modify Getting Started section of website"
Current `Getting Started` section contains placeholder docs and no clear documentation on how to actually get started.

- Remove existing docs in getting started (handled in #70).
- Create a broad getting started document which points to other docs for different users. (see getting started section on Home page in opendatahub.io)

[2020-11-05 16:55] oindrillac opened #73 "Rename Advanced Topics"
The `Advanced Topics` section on the website contains Project related Blogs, Project Descriptions and a how-to doc/tutorial on data exploration.

The section header is currently pretty vague and its not clear what documents go under it.

- Rename `Advanced Topics` to something more specific for project related blogs. eg Data Science Projects, Data Science Blogs, Data Science Community Blogs etc

-

[2020-11-05 16:59] oindrillac opened #74 "Move Project Overview doc under to-be section `Data Science Projects`"
[Project Overview doc](https://operate-first.github.io/projects-overview) is a little out of place currently.

Move Project Overview doc under the `Data Science Projects` (currently named “Advanced Topics”) section since all project blogs are to be situated there.

This Project Overview doc can have links to all the other blogs later as we move all projects to the site.

[2020-11-06 19:24] oindrillac opened #75 "Removing placeholder Jupyter Notebook throws a compile error"
As I am trying to build the site after removing the placeholder Jupyter Notebook in [section](https://operate-first.github.io/getting-started/jupyter-notebooks), I get a compile error as follows
See changes in my [fork](https://github.com/oindrillac/operate-first.github.io)

[code]
@cfchase can you please help me understand this?

[2020-11-06 20:12] cfchase commented on #75
So by deleting all the Jupyter notebooks, unfortunately that query isn't just returning an empty set, it's no longer valid because Gatsby can't infer a schema from nothing.  The easiest thing you can do is the 3rd recommendation

I would just leave the hello-world.ipynb somewhere in the content directory.

[2020-11-06 20:36] oindrillac commented on #75
thanks for the explanation @cfchase. Keeping the hello-world.ipynb in one of the directories helped and solved the error.

[2020-11-06 20:36] #75 closed

[2020-11-07 13:11] #45 closed

[2020-11-09 15:09] Shreyanand opened #77 "Editing project overview doc"
The project overview [page](https://operate-first.github.io/projects-overview) has to be updated every time a new project is added.

1. Either update the documentation to edit the page when adding the project

2. Or, automatically fetch description from the blogs to populate this page. We could have a something similar to front matter.

[2020-11-09 15:27] SankBad opened #78 "Update 'configuration file analysis' description in project overview doc"
Currently, on the project overview [page](https://operate-first.github.io/projects-overview/) documentation is given about 'insights configuration file analysis'. We need to change the description as well as the heading corresponding to public data.

Acceptance criteria -

- [ ]  updated project description of 'configuration file analysis' with public data

[2020-11-09 17:25] #31 closed

[2020-11-09 17:25] #37 closed

[2020-11-09 17:54] oindrillac commented on #52
@tumido @cfchase @durandom @4n4nd I believe as per our last discussion, we were planning to maintain our own fork of gatsby to check for .mdx files which could throw errors during build.

Until we have a check in place for that, is it safe to update the documentation stating that we should add the entire content directory which contains the doc(s) to be published  to the content-sources.yaml? (eve

[2020-11-09 17:59] 4n4nd commented on #52
I think it was decided that in case of an error, the build should just ignore the erroneous file and continue.

[2020-11-09 18:02] oindrillac commented on #52
@4n4nd are we ignoring the erroneous files presently?

IIUC having this in place means we should be safe to add the whole directory irrespective of erroneous or incorrectly formatted files or the entire repo for that matter for the content-sources correct?

[2020-11-09 20:11] 4n4nd commented on #52
I am not sure @cfchase would know better

Yes it should be safe to use the whole directory if we have this in place

[2020-11-09 20:33] #70 closed

[2020-11-09 20:33] #72 closed

[2020-11-09 20:33] #73 closed

[2020-11-10 13:47] durandom commented on #52
Until we have a mdx plugin fork, which is more error prone, we'll add files and directories explicitly via .yaml files in **this** repo. I.e. we reference each file specifically, or if all files in a directory should be published, we reference the directory.

[2020-11-11 14:16] #63 closed

[2020-11-11 14:22] durandom commented on #39
It's not just about support. The board should track all efforts that push the ODH operate first visibility forward. So "marketing" or "public relations /  PR" is more accurate.

Let's just stick with it until we really get annoyed.

[2020-11-11 14:22] #39 closed

[2020-11-11 14:42] #78 closed

[2020-11-11 17:57] Shreyanand opened #86 "Rendering blogs so that they look pretty"
As a user of the operate first website I would like the blogs to look pretty. Here are some suggestions to do that:

1. Have a main image for every blog that would be the first thing that the user sees.
2. Also, use that image as a thumbnail in the project overview page.
3. Define guidelines for front matter required for each blog. For example: Author(s), tags, category, date updated, description,

[2020-11-11 18:00] Shreyanand commented on #77
We could sort the project overview page with tags  or category of blogs as well. That would go in the front matter as well.

[2020-11-11 19:02] #74 closed

[2020-11-11 20:44] MichaelClifford opened #87 "Update README with additional instruction on how to render notebooks from remote sources"
As a contributor to the Operate First website, I would like to have clearer instructions for how to get notebook content from a remote repository onto the site. The current instructions appear to be relevant if you are uploading the content to this repo directly, but I have found there are a few more steps that should be made explicit in the documentation for the remote content case.

Acceptance C

[2020-11-12 09:53] goern opened #88 "ADR do not render"
https://operate-first.github.io/blueprint/docs/adr/0000-use-markdown-architectural-decision-records does not render, even though I tested it locally with the dev.sh script...

/assign @oindrillac
/assign @cfchase
/kind bug

[2020-11-12 14:29] oindrillac commented on #88
the `content-sources.yaml` was configured to fetch content from `dir: blueprint/docs/adr`, hence while referencing the documents, we can directly reference them using the set `urlPrefix` as `/blueprint/0000-use-markdown-architectural-decision-records` ie. no need to repeat `/docs/adr`

[2020-11-12 14:35] goern commented on #88
uh, got it!

[2020-11-12 15:43] aakankshaduggal opened #90 "Add Cloud Price Analysis to Project Overview"
Acceptance criteria -

- [ ] Updated project description of 'Cloud-Price-Analysis' with the link to the public repository.

[2020-11-12 18:28] oindrillac commented on #86
related issue #18

[2020-11-13 07:59] #88 closed

[2020-11-13 11:33] oindrillac opened #93 "Rearrange items on left hand toc"
Is there a way to rearrange items on the left hand toc? ie move items from the main toc(toc.yaml) below other items from external toc.

It would be nice to have items like `Resources` go at the bottom of the toc below the other items acquired from external/remote toc items ie below "AI for Continuous Integration".

![image](https://user-images.githubusercontent.com/32435206/99068303-43e12b00-257a-

[2020-11-13 11:41] oindrillac opened #94 "Get links to sections on toc"
Is there a way we can get urls to high level section items on toc panel eg "MOC - ODH Users", "Data Science Projects" , "Architectural Decision Records" etc?

Having links to sections would be useful since, then `Getting Started` can also have links to the respective sections, with a small sentence about what its about for first time users.

(please see discussion on anchor links to sections [here

[2020-11-13 16:16] cfchase commented on #93
It just goes in the order you load the `toc.yaml` files from`toc-sources.yaml`.  If there's a `resource-toc.yaml` with your menu item at the bottom of `toc-sources.yaml`, it should show up at the bottom.

[2020-11-13 16:47] oindrillac opened #95 "Low-Fi wireframe for landing page"
Attaching mockups of low-fi wireframe sketches for the home page of the site.

Feel free to add suggestions/comments

[2020-11-13 16:49] oindrillac commented on #95
![Op1st wireframe (1)](https://user-images.githubusercontent.com/32435206/99097850-2f1a8c80-25a6-11eb-9a0b-0b5983403873.png)

[2020-11-13 16:49] oindrillac commented on #95
![Uploading Op1st wireframe (2).png…]()

[2020-11-13 16:49] oindrillac commented on #95
![Uploading Op1st wireframe (3).png…]()

[2020-11-13 16:49] oindrillac commented on #95
![Uploading Op1st wireframe (4).png…]()

[2020-11-13 16:55] oindrillac commented on #95
![Op1st wireframe (3)](https://user-images.githubusercontent.com/32435206/99098502-11015c00-25a7-11eb-96d3-438406dc5a13.png)

[2020-11-13 16:56] oindrillac commented on #95
![Op1st wireframe (4)](https://user-images.githubusercontent.com/32435206/99098541-1e1e4b00-25a7-11eb-89a2-84e7c6299232.png)

[2020-11-13 16:56] oindrillac commented on #95
Illustrations are sourced from https://undraw.co/

[2020-11-13 17:18] cfchase commented on #94
The Patternfly nav doesn't support this because clicking on the link of a group isn't a navigation element, it opens the sub-menu.  Seems like it would be confusing from a UI perspective to try and do both on a click.  It might be worth it to make an intro page as the first section and that's where you could put your sections (with links) and the descriptions.

[2020-11-16 15:38] oindrillac opened #96 "Add videos to site"
As a contributor to the site, I want to embed tutorial videos on the site in any preferred format.

[2020-11-16 15:40] oindrillac commented on #93
Got it. Will move the items which need to be rearranged into a separate toc.yaml. Thanks @cfchase

[2020-11-16 15:40] #93 closed

[2020-11-16 15:46] oindrillac commented on #94
@cfchase I see. So for the the "intro page as the first section and that's where you could put your sections (with links) " - by ` with links`, you mean the individual document links correct? - since we cannot get the links to the section itself?

So for eg: are you suggesting something like ?

## Data Science Projects
This section consists of examples of data science projects at Red Hat.
* [Proje

[2020-11-17 11:51] durandom opened #97 "Get rid of hardcoded / redirect to /operate-first"
I want to get rid of the redirect to /operate-first and instead use an `index.md` in `/content/`
Do I need to hack https://github.com/operate-first/operate-first.github.io/blob/master/gatsby-node.js for this? And hardcode an `/` page in there? Or would I create a `/src/pages/index.js` to return the content?

I'm also ok with just configuring it in https://github.com/operate-first/operate-first.git

[2020-11-17 11:54] durandom opened #98 "Add arbitrary content"
IIUC we can only add content by explicitly adding a page to https://github.com/operate-first/operate-first.github.io/blob/master/content/toc.yaml

How about pages that don't show up in the Navbar?
Can we have a folder and get everything in that folder added as resolvable pages to the site?

Maybe that's related to #97 ?

[2020-11-17 13:34] cfchase commented on #98
`toc.yaml` files are just the data for the left hand nav.  Pages (markdown docs or pages) are available whether or not they appear on the nav, so they should be there.

[2020-11-17 14:20] durandom commented on #98
Works indeed. Somehow it didnt when I tried first. Thanks

[2020-11-17 14:20] #98 closed

[2020-11-17 16:20] oindrillac opened #100 "External sites/mails to share/link site from"
Create emails/content to be posted or shared across:

- [ ] AI CoE Email List
- [ ] Newsletter
- [ ] Data Hub Users
- [ ] Twitter / LinkedIn ( create blurbs similar to next.redhat.com )

Identify the CTAs that we want to address

**Possible content:**

- CI data notebooks
- CRC deployment - how to replicate this?

[2020-11-17 20:56] hemajv commented on #95
I think these look great! :smiley:

[2020-11-18 12:09] oindrillac opened #101 "Link public JH image for categorical encoding to the blog"
Update the internal JH link with instructions to access the public JH image available on MOC

[2020-11-18 12:10] oindrillac opened #102 "Link public JH image for config file analysis to blog"
Update the internal JH link with instructions to access the public JH image available on MOC

[2020-11-18 15:04] aakankshaduggal commented on #95
Looks great @oindrillac :+1:

[2020-11-18 15:43] SankBad commented on #95
It looks great :heart_eyes:
Can we add those square boxes for data science projects also. Because, as the number of projects will increase dropdown will be really long.

[2020-11-18 15:46] SankBad commented on #95
Something like we discuss over here: [doc](https://docs.google.com/document/d/1jV687x0bflKUOTIgixDK8ehlOM8wgfbJr_VGQlBLZjM/edit)

[2020-11-19 13:07] #38 closed

[2020-11-19 13:08] oindrillac commented on #71
Addressed by #99

[2020-11-19 13:08] #71 closed

[2020-11-19 13:28] oindrillac opened #105 "Update Getting Started page with description of each sections"
Update Getting Started page to make it more detailed and add descriptions of the sections

[2020-11-19 13:35] oindrillac opened #106 "Create Site Footer"
Can we create a footer for the site, something similar to the footer in the patternfly[website](https://www.patternfly.org/v4/contribute/about), or [opendatahub.io](http://opendatahub.io/).

Something like [mockup](https://github.com/operate-first/operate-first.github.io/issues/95#issuecomment-726875525)?

[2020-11-19 13:36] oindrillac commented on #57
First part addressed in #103
Opened #106 for creating a site footer/imprint

[2020-11-19 13:36] #57 closed

[2020-11-19 14:56] oindrillac commented on #105
working doc: https://docs.google.com/document/d/10yz4QBWgFn0JSZY9ZEKsaEfI8FykQlhMZIOk-eR7L5s/edit?usp=sharing

[2020-11-19 15:00] oindrillac opened #107 "Broken link in README for `markdown doc`"
Replace [markdown doc](https://github.com/operate-first/operate-first.github.io/blob/master/content/docs/operate-first/index.md) with right url

[2020-11-19 15:01] oindrillac opened #108 "Index.md from continuous deployment repo is overwriting the main index.md"
Landing page content is getting overwritten by index.md from continuous deployment repo

ignore index.md in [content-sources.yaml](https://github.com/operate-first/operate-first.github.io/blob/master/content-sources.yaml)

[2020-11-19 15:29] hemajv commented on #108
I added:
[code]
however, this still seems to overwrite the [landing page index.md](https://github.com/operate-first/operate-first.github.io/blob/master/content/index.md)

You can view this in my gh-pages here: https://hemajv.github.io/operate-first.github.io/fix-cd-index/

[2020-11-19 15:42] hemajv commented on #108
okay fixed it! We needed to add:

[code]

[2020-11-19 15:54] #108 closed

[2020-11-20 01:39] SankBad opened #110 "Question regarding image location for publishing doc"
I am trying to publish a project [doc](https://github.com/aicoe-aiops/ocp-ci-analysis/blob/master/docs/publish/failure-type-classification-with-the-testgrid-data-project-doc.md).
Currently, an Image in the doc exists in another folder. when I am trying to publish a doc, it's not rendering the image.

Should images exist in the same folder as a doc? or relative path is fine and I am missing somethi

[2020-11-20 12:25] oindrillac commented on #110
@SankBad I tried testing from your [fork](https://github.com/SankBad/operate-first.github.io.git) and I am able to see the image in the blog.
![image](https://user-images.githubusercontent.com/32435206/99799910-79998d00-2b01-11eb-9b33-3853a3de364d.png)

Let me know if its still an issue

[2020-11-20 13:53] SankBad commented on #110
The fresh clone worked. :bow:

[2020-11-20 13:53] #110 closed

[2020-11-20 15:16] oindrillac opened #111 "Resize images in markdown posts"
@cfchase is there a way to resize images within markdown blog posts?

Tried putting html in markdown for referencing images like follows, and adjusting the width and height

`<img src="../assets/images/annotated_testgrid.png" width="3000" height="1000"/>`

but that does not seem to work. Do you have any ideas?

[2020-11-23 10:03] durandom opened #116 "Re-Org of site navigation"
The left hand navigation is getting crowded. I propose a horizontal navigation and a vertical navigation changing, depending on the top navigation. Similar to https://kubernetes.io/
See also the [Patternfly Design Guidelines](https://www.patternfly.org/v4/components/navigation/design-guidelines)

### Horizontal Top Navigation
* Logo: Home Page
* Data Science Projects
* Users
* Operators
* Operate

[2020-11-23 10:19] goern commented on #116
Hmm, it feels like the "Operate First" should be first on the left hand. And what is  "operators" is it creating a kubernetes operator or is is a section "for Operators" ?

[2020-11-23 10:21] durandom commented on #116
![image](https://user-images.githubusercontent.com/161888/99951188-f769cc80-2d7d-11eb-9b05-5e2bc572b19a.png)

[2020-11-23 10:24] durandom commented on #116
It's structured by audience:

* Data Science (for the DS folks that want to learn about DS on ODH)
* Users (all Users for ODH, much like "how do I get access, where to report issues, how do I create an s2i image)
* Operators (folks that operate the thing, ODH, OCP, etc)
* Blueprints (generic stuff, that can be applied to other initiatives as well)

[2020-11-23 13:00] durandom commented on #116
See preview here: http://durandom.de/operate-first.github.io/top_nav/

[2020-11-23 13:03] oindrillac commented on #116
@durandom +1 for the vertical and horizontal nav. This will allow us to bring some good structure to our documents.
Also I like the broad sections and that they're ordered from a "user" standpoint.

Where do you see access documents to deployed odh components - like [JupyterHub on MOC ](https://www.operate-first.cloud/odh-moc-user/jupyterhub)going?
Under Users > Components or under Operators > MOC

[2020-11-23 19:17] #116 closed

[2020-11-24 07:16] oindrillac opened #119 "Build fails for #117"
Build errors out for #117

Log:
[code]

[2020-11-24 12:24] #119 closed

[2020-11-24 13:05] oindrillac commented on #94
With changes in #117 - adding Top Navigation lets us achieve the purpose of 3 level nav and get links to respective sections .

[2020-11-24 13:05] #94 closed

[2020-11-24 13:06] oindrillac commented on #107
Fixed in #118

[2020-11-24 13:08] oindrillac commented on #105
#117 eliminates the need to "group" the messy toc content in the getting started .md. Hence, closing this issue.
The getting started is now merged with the Home page which will also give us more audience on the Getting Started section (based on our analytics).

[2020-11-24 13:08] #105 closed

[2020-11-24 13:15] oindrillac opened #122 "Add hard drive failure prediction content to this repo"
Add preliminary blog post for Hard Drive Failure prediction project to the Op 1st site. Link the public notebook image created in (https://github.com/operate-first/odh/pull/29) from the blog and add it to : Data Science > Data Science Projects

If notebook contains detailed markdown and also serves as a blog & tutorial, rather add notebook directly to : Data Science > Data Science Projects

[2020-11-24 16:13] cfchase commented on #111
The global config needs to be changed in the [gatsby-config.js](https://github.com/operate-first/operate-first.github.io/blob/master/gatsby-config.js#L29).  Change the `maxWidth` of `gatsby-remark-images` `options` to be whatever you think  you'll need.  In the following I picked 1600px
[code]
Be careful, as this will change everyone's images across the site.

and in your MDX files
[code]

Explana

[2020-11-24 16:39] oindrillac commented on #111
Thanks this is very helpful @cfchase :pray:

[2020-11-24 16:39] #111 closed

[2020-11-24 17:01] cfchase commented on #97
Fixed in https://github.com/operate-first/operate-first.github.io/pull/99

[2020-11-24 17:01] #97 closed

[2020-11-24 19:06] #107 closed

[2020-11-24 19:07] #87 closed

[2020-11-24 19:13] cfchase commented on #96
You sure you want to host them on our site, or would it be ok to use an embedded video (e.g youtube);

https://www.gatsbyjs.com/docs/working-with-video/

[2020-11-25 09:00] goern opened #125 "burger menu does not open"
if I load/reload https://www.operate-first.cloud/ the left-hand side menu is invisible, clicking on the burger does not show it, if I click on "data science" if do see the left-hand navigation.

/kind bug
/priority critical-urgent

[2020-11-25 09:06] oindrillac commented on #125
I thought that's how @durandom meant it to be? Since right now we do not have any _Home_ category documents, there seems no need for a left hand menu. As one selects a category out of the 4, from the top nav, only then a left hand menu item becomes visible

[2020-11-25 09:13] goern commented on #125
ah, ok. confusing... ;) as you can see, it felt like a bug

[2020-11-25 09:15] durandom commented on #125
yep, if there's no lefthand nav, the 🍔  should be gone

[2020-11-25 09:35] #125 closed

[2020-11-26 18:31] SankBad commented on #102
Done. Added steps to access the public JH image available on MOC.

[2020-11-26 18:31] #102 closed

[2020-12-01 18:59] #55 closed

[2020-12-01 19:00] oindrillac opened #137 "YT channel for demo videos"
Create YT channel for our demo videos

[2020-12-01 20:30] #101 closed

[2020-12-01 21:36] oindrillac commented on #137
Created channel here where we can upload our demos and tutorials: https://www.youtube.com/channel/UCe87bwqlGoBQs2RvMQZ5_sg
Go subscribe :running_woman::pizza:

[2020-12-01 21:36] #137 closed

[2020-12-02 13:28] oindrillac opened #138 "handle relative links to index files"
Relative links to index files such as for `gpg keys` under the `Install Argo CD on your cluster` in this [doc](https://www.operate-first.cloud/operators/continuous-deployment/docs/downstream/quicklab.md) do not work since the link points to https://www.operate-first.cloud/operators/continuous-deployment/README.md#gpg-key-access should instead point to https://www.operate-first.cloud/operators/cont

[2020-12-03 20:26] oindrillac opened #141 "line break tags in markdown breaks build"
Build from #140 errored out because of the markdown line break tags in https://github.com/operate-first/continuous-delivery/blob/master/docs/setup_cd_pipeline.md

Log:
[code]

We might want to explore https://www.gatsbyjs.com/plugins/gatsby-remark-line-breaks/?=gatsby-plugin-mdx or replace `<br>` with `<br />` in https://github.com/operate-first/continuous-delivery/blob/master/docs/setup_cd_pipeli

[2020-12-04 09:56] durandom commented on #141
I think we should lint/fix .md files before processing.
remark plugins can be added to gatsby-plugin-mdx like

[code]

Then you can use remark to fix your markdown like in https://github.com/remarkjs/remark-lint#using-remark-to-fix-your-markdown
Ideally while building the pages, but if that does not work, we could have a npm script executing `remark . --output` as a pre_build script.

I failed to

[2020-12-04 10:03] tumido commented on #141
Unfortunately this is not about "broken" markdown. Our Markdown is completely valid, HTML tags are valid in Markdown. They are not valid in MDX though. See https://github.com/operate-first/operate-first.github.io/pull/129 description and references.

Our fault is that we're processing all Markdown files as if they were MDX. We're running it all via MDX plugin no matter it's pure Markdown, this is

[2020-12-04 10:08] tumido commented on #141
![image](https://user-images.githubusercontent.com/7453394/101150524-a5983080-3620-11eb-84eb-3d04a59daaa0.png)
https://github.com/mdx-js/mdx/pull/1039

mind this was merged to their `next` branch - the version we use is using the previous parser, which doesn't change the fact that it won't work even with the new ones. It also further diverges the Markdown and MDX syntax in cases like comments etc.

[2020-12-04 18:55] oindrillac opened #142 "Feedback from User testing of Quicklab Setup Guide"
Created this issue to track some of the observations and feedback on following through the Quicklab setup guide [here](https://www.operate-first.cloud/operators/continuous-deployment/docs/downstream/quicklab.md)

* Perhaps before we start with `Set up a new cluster`, we can have an one line intro sentence about what is being covered in this tutorial.

* `Go to https://quicklab.upshift.redhat.com/

[2020-12-04 19:05] oindrillac opened #143 "Modify line breaks in crc doc"
`\` line breaks in https://www.operate-first.cloud/operators/continuous-deployment/docs/downstream/crc.md do not render as line breaks on the website

[2020-12-04 19:06] oindrillac commented on #143
![image](https://user-images.githubusercontent.com/32435206/101204235-e81a3700-3639-11eb-9294-c4522383da15.png)

[2020-12-04 19:18] oindrillac opened #144 "Anchor links to sections"
Auto-generated anchor links to sections, for markdown header items would be useful for cross linking to steps or sections between different tutorials.

see: https://www.gatsbyjs.com/plugins/gatsby-remark-autolink-headers/

[2020-12-04 19:42] cfchase commented on #141
Sounds reasonable to me, but I haven't tried it. I haven't tried running both md and mdx in the same project but seems doable.

[2020-12-06 20:14] #90 closed

[2020-12-07 15:34] anishasthana opened #145 "Create Operate-First Gatsby Theme"
Since we are aiming to have consistent-looking docs across operate-first, internal data hub, and upstream ODH, we should publish a proper theme on gatsby that can be installed for any document sites. This way we'd only have to make changes to the theme in one location and have them trickle down to all the deployments. CC @tumido

[2020-12-07 17:13] durandom commented on #141
I went down that road too, using https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-remark as the transformer.

First I was under the impression, that the MDX plugin is the preferred way now: https://www.gatsbyjs.com/docs/mdx/migrate-remark-to-mdx/
But I couldn't find any evidence for that :) Maybe I was interpreting too much.

Makes sense. The external repos are all using

[2020-12-07 17:56] tumido commented on #145
Something like https://github.com/jschuler/gatsby-theme-patternfly would do, right? Just updated to Paternfly 4 + our custom components.

[2020-12-07 18:19] anishasthana commented on #145
Yeah I think that'd be perfect.

[2020-12-08 10:29] #141 closed

[2020-12-08 10:40] oindrillac commented on #143
fixed in #147

[2020-12-08 10:40] #143 closed

[2020-12-08 11:17] oindrillac opened #150 "Build error #147 : Input file contains unsupported image format"
Build from #147 fails with following error:

[code]

[2020-12-08 13:43] #150 closed

[2020-12-08 17:39] tumido commented on #145
https://github.com/jschuler/gatsby-theme-patternfly/issues/15

[2020-12-09 09:35] tumido commented on #145
More questions asked https://github.com/patternfly/patternfly-org/issues/2312

[2020-12-09 13:33] anishasthana commented on #145
@oindrillac fyi

[2020-12-09 14:34] MichaelClifford opened #153 "Relative links download *.ipynb files instead of redirecting to the correct page"
Relative links download *.ipynb files instead of redirecting to the correct page.

 I am using [this *.md file](https://github.com/aicoe-aiops/ocp-ci-analysis/blob/master/README.md) as both the readme for the ocp-ci repo as well landing page on operate first. I've used relative links so that the links should behave the same on github and op1st. The relative links seem to work fine on github but on

[2020-12-09 16:37] durandom commented on #153
I'll have a look
/assign @durandom

[2020-12-09 16:59] #153 closed

[2020-12-09 20:20] oindrillac opened #155 "UI/UX consultation feedback"
I am putting down notes from my UI/UX consultation with Mary Shakshober from the Patternfly team on the Website. Here are some suggestions that we received. The following can be further broken down into individual issues

1) Suggestion around altering the site Navigation :
https://docs.google.com/document/d/1nfXQHUziA9ydlphK-UBocovpbtg5x_Vw9IwirpaDUXM/edit

Patternfly considers the [Default nav](h

[2020-12-10 14:25] SankBad opened #157 "All notebook in a particular project under a single tab"
Hi,

I have a suggestion or feedback.
Currently, we have different tabs for each of the notebooks. Since the number of notebooks is increasing this vertical list can go long. Also, some times notebooks can be really long. Please find the screenshot.
![image](https://user-images.githubusercontent.com/29823086/101784201-32cc0100-3ac9-11eb-969e-72cc29284082.png)

Instead, we can create a demo noteboo

[2020-12-10 14:26] SankBad commented on #157
CC: @oindrillac , @MichaelClifford

[2020-12-10 15:40] durandom commented on #157
I would not rely too much on the left hand navigation. You can't add a nav item for every page/notebook/doc you add.
Try to use one or two entry documents and link from them. If those are relative links they'll work inside your repo and on this website.

See https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax
and
https://docs.github.com/en/f

[2020-12-10 15:40] #157 closed

[2020-12-10 15:46] durandom commented on #145
@anishasthana do you have a pointer where you're doing your internal deployment? For starters I would work with a fork/rebase relationship of the repos and extract all stuff into configurations

@cfchase should decide if he wants a theme for all his MODH work

[2020-12-10 15:48] anishasthana commented on #145
It's on internal gitlab unfortunately: as of now I had to do a pretty ugly rip and tear.
https://gitlab.cee.redhat.com/data-hub/dh-user-docs

[2020-12-10 16:40] durandom commented on #138
I'm inclined to revert https://github.com/operate-first/operate-first.github.io/blob/ef4c0469b7238d3624a91e0f5fd6f7442237fd0f/gatsby-node.js#L31

We could come up with sophisticated solutions like  redirects or rewrites, but that's too error prone IMHO.

@tumido @oindrillac thoughts?

[2020-12-10 16:49] durandom commented on #138
Actually that breaks how people link on GH to a directory. I'll just create a second URL, which introduces duplicated content, but it's easier to implement than a redirect..

[2020-12-10 16:53] #144 closed

[2020-12-10 17:08] tumido commented on #138
What about we just mutate the relative links in the processed markdown files to strip the `README.md` away? We don't need to solve this on the router level, if we can fix the content on the fly...

Something like this: https://github.com/gatsbyjs/gatsby/issues/15868#issuecomment-512859053

[2020-12-10 17:20] durandom commented on #138
That's too complicated for my skills. I've just re-added `README.md` links. https://github.com/operate-first/operate-first.github.io/pull/159

[2020-12-10 17:23] durandom commented on #106
@oindrillac we now have a footer in https://github.com/operate-first/operate-first.github.io/blob/master/src/components/Layout/Layout.js#L23-L29

Could you create a PR to add some more content to it. Not sure what though 😆

[2020-12-10 18:14] #138 closed

[2020-12-11 10:10] tumido commented on #95
@oindrillac you can also use https://2.flexiple.com/scale/all-illustrations which I've recently discovered. (just adding it to your collection of CC/Opensource illustration sites. :slightly_smiling_face: )  They are a bit different than undraw... I personally like undraw better, but that's just matter of taste.

[2020-12-14 15:22] oindrillac opened #161 "Add TestGrid data analysis video to YT and website"
- [x] Upload video to YT channel
- [x] Add Video to Website

@MichaelClifford can you please provide me with a suitable Title and a short 1-2 lines description for the YouTube video.

[2020-12-14 15:23] oindrillac opened #162 "Add Initial EDA on cloud price data video to YT and website"
- [x] Upload video to YT channel
- [x] Add video to website

@aakankshaduggal can you provide me with a suitable Title and 1-2 line description for the YouTube video?

[2020-12-14 16:26] MichaelClifford commented on #161
@oindrillac is there an existing youtube channel I can upload the video to?

Here is a title and description. Let me know if you have any edits : )

**Title**: Access TestGrid data for analysis with python

**Description**: Introduction to the AI supported continuous integration project started by members of Red Hats's AI Center of Excellence. The first of a series, this video describes the TestGr

[2020-12-14 17:28] aakankshaduggal commented on #162
*Title*: Access TestGrid data for analysis with python

*Description*: Introduction to the Cloud Price Analysis project started by members of Red Hats' AI Center of Excellence. The first of a series, this video gives an overview of the Project Statement and Exploratory Data Analysis in the JupyterHub environment.

[2020-12-14 17:30] aakankshaduggal commented on #162
@oindrillac Here is a title and a description. Let me know if you have any suggestions. :smile:

[2020-12-17 15:25] tumido opened #164 "Fix moved `moc-cnv-sandbox` repo"
Fix the repo pointer for MOC `open-infrastructure-labs/moc-cnv-sandbox`

![image](https://user-images.githubusercontent.com/7453394/102507357-6f2ccd80-4084-11eb-9b42-d1629e7a72de.png)

[2020-12-18 10:15] #164 closed

[2020-12-20 11:01] durandom opened #167 "map content in our GH repos vs what's available on the website"
@oindrillac can you create a spreadsheet that lists all our repos at

* https://github.com/aicoe
* https://github.com/aicoe-aiops
* https://github.com/operate-first

and mark those that are configured here as content?

I'd like to see what we're missing

[2021-01-04 13:16] #122 closed

[2021-01-04 13:53] oindrillac commented on #167
@durandom here you go - https://docs.google.com/spreadsheets/d/1eJspSq8db7k8wdbzr0uyYI9wN6Az1fNTa3yJTqqK1OY/edit?usp=sharing

[2021-01-04 15:05] oindrillac commented on #161
@MichaelClifford I have uploaded it to our [Operate First channel](https://www.youtube.com/channel/UCe87bwqlGoBQs2RvMQZ5_sg). Here you go - https://www.youtube.com/watch?v=lY75bDv6kd4&feature=youtu.be :tada:

[2021-01-04 15:19] oindrillac commented on #162
@aakankshaduggal please find the uploaded video here : https://www.youtube.com/watch?v=jne4auRnxJ4&feature=youtu.be

[2021-01-05 19:29] Shreyanand opened #170 "Rendering plotly images in the notebooks"
In one of the notebooks, I'm using plotly interactive graphs. However, it is not being rendered currently. For example, see this [blog](https://www.operate-first.cloud/data-science/time-series/notebooks/ts-2-visualization.ipynb). Gatsby has a support for plotly images and I guess it can be integrated with blog posts as well. Is it fairly straightforward or would it be a heavy feature request?

[2021-01-06 09:50] durandom commented on #167
thanks.

Next we should have a metric for each added repo, on how much of the content is actually accessible. I.e. can be accessed by just clicking links.

For the not added repos, we should determine when they were last active and how much content is there (.md files)

cc @goern is this something we could use your GH analysis tools for?

[2021-01-06 09:51] durandom commented on #167
I.e. I dont want to make this a manual process, but more like a dashboard to see the current status

[2021-01-06 15:22] durandom commented on #170
https://elcess.us/Integrating-Plotly-with-Gatsby/
https://janosh.dev/blog/gatsby-interactive-plots

I'll look into this

[2021-01-12 19:52] hemajv opened #171 "Build fail for #166"
Encountered a build failure for #166:

[code]

Missing `.git` at the end of the remote repo URL might be causing the issue: https://github.com/operate-first/operate-first.github.io/blob/master/gatsby-config.js#L243

[2021-01-12 20:16] #171 closed

[2021-01-13 09:27] durandom opened #174 "travis build for PRs"
@cfchase @tumido can we enable builds for PRs here?
Or would this result in a deploy?
Do we need some settings in `.travis.yml` ?

I'd like to see if https://github.com/operate-first/operate-first.github.io/pull/173 gets build successfully

[2021-01-13 09:43] tumido commented on #174
Our current travis settings for this repo is limited to `master` branch and it will result in a deploy. We'd need to adjust that for PR builds... We probably need to add a PR specific `npm run` script and pass that to the travis config.

@cfchase do you have anything like it set up for any other repo so we can pull the config from there?

[2021-01-13 14:13] #162 closed

[2021-01-13 14:36] #161 closed

[2021-01-13 19:40] #96 closed

[2021-01-13 19:43] oindrillac opened #176 "Create a better 404 page"
Current 404 page when hit a bad url just says not found without any other useful info.

We should add more information to this page which encourages the user to reach out to an email address or open an issue at a repo.

See example below

[2021-01-13 19:44] oindrillac commented on #176
We currently have this
![image](https://user-images.githubusercontent.com/32435206/104501475-c6538e80-55ad-11eb-9ff2-5b5714c5fbb5.png)

Example of a good 404 page
![image](https://user-images.githubusercontent.com/32435206/104501442-b8057280-55ad-11eb-9110-13483374db73.png)

[2021-01-13 19:47] oindrillac opened #177 "Add more information to section landing pages"
Add more information to the following section landing pages:

- [ ] Users - https://www.operate-first.cloud/users/
- [ ] Operators - https://www.operate-first.cloud/operators/
- [ ] Blueprint - https://www.operate-first.cloud/blueprints/

[2021-01-14 15:27] 4n4nd opened #178 "Add operate-first/apps as a document datasource"
Docs from [operate-first/apps](https://github.com/operate-first/apps/tree/master/docs) are not included in the website yet.

[2021-01-14 15:28] 4n4nd opened #179 "Add operate-first/apps as a document datasource"
Docs from [operate-first/apps](https://github.com/operate-first/apps/tree/master/docs) are not included in the website yet. Since we have some usage docs there we should it.

[2021-01-14 15:28] #178 closed

[2021-01-14 15:28] 4n4nd commented on #178
duplicate #179

[2021-01-14 15:43] oindrillac opened #180 "<Name> <Session No.> Website User Testing"
Following is a template that can be used to better streamline our weekly website usability testing meetings.

Meeting Notes: https://docs.google.com/document/d/12Uu9Q-7cSQM_40m_HeN_QvVdNWrO5lPTfF0mY6SA9eo/edit#

To take part in user testing and to be added to the calendar invite reach out to ochatter@redhat.com

Copy this card and edit the <Name> and <Session No.> Fields in the Title.

-----------

[2021-01-14 16:16] hemajv opened #181 "Hema 5 Website User Testing"
Following is a template that can be used to better streamline our weekly website usability testing meetings.

Meeting Notes: https://docs.google.com/document/d/12Uu9Q-7cSQM_40m_HeN_QvVdNWrO5lPTfF0mY6SA9eo/edit#

To take part in user testing and to be added to the calendar invite reach out to ochatter@redhat.com

Copy this card and edit the <Name> and <Date> Fields in the Title.

------------------

[2021-01-14 16:19] hemajv opened #182 "Hema #5 Website User Testing"
Following is a template that can be used to better streamline our weekly website usability testing meetings.

Meeting Notes: https://docs.google.com/document/d/12Uu9Q-7cSQM_40m_HeN_QvVdNWrO5lPTfF0mY6SA9eo/edit#

To take part in user testing and to be added to the calendar invite reach out to ochatter@redhat.com

Copy this card and edit the <Name> and <Date> Fields in the Title.

------------------

[2021-01-14 16:19] #181 closed

[2021-01-14 16:22] oindrillac opened #183 "Oindrilla #5 Website User testing"
*Date of test* -  01/14/2021

## Identified Bug
Identify atleast one bug - could be a broken link, formatting issue etc

1.
* Document URL - https://www.operate-first.cloud/data-science/data-science-workflows/
* Description of Bug - Typos in text, broken url
  - "provide some sort of acceptance criteria"
  - Missing periods at end of sentences.
  - Request a Ceph bucket here and add your data to i

[2021-01-14 16:31] aakankshaduggal opened #184 "Aakanksha #5 Website User Testing"
*Date of test* -  01/14/2021

## Identified Bug
Identify atleast one bug - could be a broken link, formatting issue, etc

1.
* Document URL - Documents for Data Science like [1](https://www.operate-first.cloud/data-science/categorical-encoding/docs/blog/blog.md) and [2](https://www.operate-first.cloud/data-science/configuration-files-analysis/docs/blog/configuration-file-analysis-blog.md)
* Descri

[2021-01-14 19:44] #179 closed

[2021-01-15 08:38] tumido commented on #176
Example cloud.redhat.com 404 page (patternfly approved): https://cloud.redhat.com/asdasda

![image](https://user-images.githubusercontent.com/7453394/104701217-6bd54200-5715-11eb-9425-ac90c02c97c5.png)

[2021-01-15 19:41] oindrillac commented on #184
:+1: for removing the tags since we are no longer using statis reactor.
We have an issue here for site wide search https://github.com/operate-first/operate-first.github.io/issues/25

[2021-01-18 15:17] chauhankaranraj opened #187 "Add openshift anomaly detection and diagnosis discovery blog"
The notebook image for openshift anomaly detection and diagnosis discovery work done for CCX was added to MOC JH via operate-first/apps#95. Add a preliminary blog post giving an overview of this work and how to get started with the notebooks.

[2021-01-26 21:57] anishasthana opened #191 "Update `Users` tab in https://www.operate-first.cloud/users/"
I think clicking on the `Users` Button in the top nav bar should take folks directly to https://www.operate-first.cloud/users/support/. The content on here seems like the most useful for a general person. Thoughts?

[2021-01-26 22:28] oindrillac commented on #191
@anishasthana +1 with that. And I plan on updating this and the other sections too. :+1:
@hemajv had opened this issue here https://github.com/operate-first/operate-first.github.io/issues/182

[2021-01-28 19:00] #187 closed

[2021-02-01 19:53] oindrillac opened #193 "Link JupyterHub monitoring Grafana Dashboard to website"
Link Grafana dashboard https://grafana-route-opf-monitoring.apps.cnv.massopen.cloud/d/YuYfkHYMk/jupyterhub-usage?orgId=1 from Users tab of website.

[2021-02-01 22:24] chauhankaranraj commented on #193
I **_really_** like this dashboard, thanks for putting it together folks! :smile:

Just wanted to clarify though, do the `Pod CPU Usage` numbers shown here need to be multiplied by 100 or am I really only using 0.7% of the CPU?

[2021-02-01 22:30] #43 closed

[2021-02-12 11:28] durandom commented on #2
I think we need to credit the author of the logo

This icon is licensed as Creative Commons CCBY

[2021-02-15 11:04] #177 closed

[2021-02-15 11:04] #182 closed

[2021-02-15 15:17] oindrillac commented on #106
Add some text below the Contribute
Red Hat initiative add some html
logo by this person - source of logo, reference them

[2021-02-19 18:18] oindrillac opened #202 "Link YT Channel from Website"
Add YouTube Logo on top right of Header/Masthead and link to channel such as the Github logo on the top right in the Patternfly website

![image](https://user-images.githubusercontent.com/32435206/108544694-d8af9f00-72b4-11eb-886e-bb429b4d4feb.png)

[2021-02-22 14:24] #106 closed

[2021-02-25 18:37] pacospace opened #206 "Update ODH UI Image with new compoents"
![Screenshot from 2021-02-25 18-43-46](https://user-images.githubusercontent.com/27498679/109200294-b7f9b480-77a0-11eb-814d-649d5d3e3983.png)

The update is required in https://www.operate-first.cloud/users/support/

[2021-02-26 14:52] llunved opened #207 "Certificate warning for https://operate-first.cloud"
The TLS cert is github and Firefox complains.

[2021-02-26 14:54] tumido commented on #207
Thank you!

/assign @goern
/cc @oindrillac

[2021-02-26 14:54] tumido commented on #207
/kind bug

[2021-02-26 15:26] goern commented on #207
It seems to happen with `curl -vk -X HEAD https://operate-first.cloud` (hosted at GH), as github redirects to www.operate-first.cloud the cert used is correct.

let's monitor this, maybe its a GH hickup

/sig devops

[2021-03-03 16:38] oindrillac opened #208 "Test a Google Meet Livestream"
Test livestream planned for https://github.com/operate-first/SRE/issues/104 and record any steps or tips

[2021-03-03 22:24] oindrillac commented on #208
I was able to test out the Livestream on google meet and record the meeting.

**Details:**
There would be 2 Meeting Invites -
1. one for the organizers, who would be on the call and be sharing their screens. It will have the option to join the meeting itself or join the livestream
![image](https://user-images.githubusercontent.com/32435206/109879754-00ebb600-7c44-11eb-87f0-c911cedc8e3e.png)

2. an

[2021-03-04 13:55] tumido commented on #208
Hey! @oindrillac this is very nice! :+1: Thank you! Can we maybe convert your guide into a doc in the repo? I think we will be using this more and more! I love the simplicity of this. :smile: :1st_place_medal:

[2021-03-04 15:15] oindrillac commented on #208
@tumido sure, thanks! i could add a small document in the repo :+1:

[2021-03-15 04:11] oindrillac opened #213 "Link YouTube Channel from Website"
Link the YouTube channel from Website.
Add YouTube icon to Top right corner on the Masthead of the Website which links to the channel or add a separate Videos/Blog page.

[2021-03-15 04:13] oindrillac opened #214 "Create Medium Account for Operate First"
Create a Medium.com account for operate first which can be used to re-purpose and post some of our content linking back to the website.

[2021-03-15 08:50] goern commented on #214
please check with @Fridex Medium is not always very friendly if it comes to content licensing and reuse.

[2021-03-15 09:13] tumido commented on #213
/kind feature

[2021-03-15 09:18] fridex commented on #214
Articles published on medium are not always reachable to users - medium restricts the number of views per user that is not that open. I found [dev.to](https://dev.to/) community more open.

[2021-03-15 14:11] oindrillac opened #215 "Fix occurrence of 2 scroll bars in website"
The site footer leads to occurrence of 2 scroll bars on the website.

Fix that to have only one scroll bar such that the footer appears right below the "Contribute to this page button"

[2021-03-15 14:14] aakankshaduggal commented on #213
I like this idea of adding the youtube channel to the footer. Something like this :
![image](https://user-images.githubusercontent.com/26301643/111167076-1ed7e580-8577-11eb-8d57-9117f9b5e5ae.png)

We could also add our github repo in the footer.

[2021-03-15 14:24] tumido commented on #213
I think the masthead is a more prominent space though. :slightly_smiling_face:

[2021-03-15 14:24] tumido commented on #215
/kind bug

[2021-03-16 16:12] tumido opened #216 "How to trigger a website rebuild on content update"
This website aggregates content from many repos. We would like to be able to trigger a build on any content update. Either via bots or manually, or via chat-ops or on PR merge in that other repo (based on PR label perhaps?).

/cc @goern @oindrillac any ideas?

[2021-03-16 16:12] tumido commented on #216
/sig user-experience

[2021-03-16 16:47] harshad16 commented on #15
sorry this done in the time period mentioned.
revisiting this now.  bring back the life-cycle of this issue to active.

[2021-03-16 16:47] goern commented on #216
well, we can turn the website build into an OpenShift/Tekton Pipeline and trigger it on 'push to master'

[2021-03-16 16:50] tumido commented on #216
That is fine for build triggering from this repo. But we need to trigger it also on update on any of these remote content locations:

https://github.com/operate-first/operate-first.github.io/blob/master/gatsby-config.js#L160-L316

It's a static website aggregating dynamic content across many repos.

We may need some more advanced logic for triggering from PR merges on dependency repos...

[2021-03-16 16:58] harshad16 commented on #216
What is the current flow?
on update of the repositories listed in the gatsby-config, does the maintainer execute gatsby build and update the gh-pages?

linking this here, as this was something suggested earlier: https://github.com/operate-first/operate-first.github.io/issues/15

[2021-03-16 17:21] tumido commented on #216
Current flow:

The only way to trigger a build is to make any commit on `master` branch in https://github.com/operate-first/operate-first.github.io

Travis is listening for push to `master` events and triggers the build.

It can be an empty commit but nobody is actually allowed to push to `master`, therefore it kinda requires a PR/code change... which is unfortunate.

[2021-03-16 17:23] larsks commented on #216
Could you install a webhook into all those repositories that would post a notification, and have a single receiver that would respond to that by updating the website? Or if updates don't *really* need to be real time, what about just periodically (hourly?) monitoring those repositories for new commits, and triggering a change if any one of them has an update?

[2021-03-16 17:30] tumido commented on #216
I mean if it's just a dumb hourly rebuild without any repo update checks.. I con't care. It would be an usable solution.

On the other hand, I would expect better from us. :smile:

[2021-03-16 17:30] harshad16 commented on #216
we could have bots functioning on the issue, I mean to say, like we can have a temple issue on the related component repos, and on the issue creation of these, a bot would trigger and update the repo(like same like travis flow which updates the gh-pages).

[2021-03-16 17:43] harshad16 commented on #15
Recollecting all the thought, this process is already in place.
aicoe-ci builds the image for the operate-first app and travis ci takes care of updating the gh-pages.
Please let me know if further action is to be added to this. we can close this issue.

[2021-03-16 18:08] goern commented on #15
I think we need a tekton task that updates gh-pages, and a pipeline that uses the task and then builds the image

[2021-03-18 01:20] oindrillac opened #217 "Update DS Projects Overview"
Update [Data Science projects overview page](https://www.operate-first.cloud/data-science/) with short descriptions of ongoing DS projects and link to repos.

* Add Categorical Encoding
* Add Time Series Analysis
* Add AI for Continuous Integration

[2021-03-22 20:29] Shreyanand commented on #170
@durandom did you get a chance to see if this works?

[2021-03-22 21:03] Shreyanand opened #218 "Wrong tab names"
**Describe the bug**
The tab name doesn't change with the blog post.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.operate-first.cloud/data-science/categorical-encoding/docs/blog/blog.md
2. See the correct tab name as "Categorical Encoding"
3. Then click on any time series blog from the left navigation bar. The tab name stays the same and doesn't change.
4. The error happ

[2021-03-23 09:00] tumido commented on #218
/kind bug
/assign @tumido

[2021-03-23 13:53] #213 closed

[2021-03-24 14:06] larsks opened #221 "Add a "community" page to website"
On the current website, the link to the public slack invite is...subtle. Unless you know it's there it's not necessarily discoverable. I thought perhaps we should add an explicit "community" page that explicitly calls out the link to slack, perhaps the support repository, etc.

[2021-03-24 14:11] tumido commented on #221
/kind feature

[2021-03-29 15:41] aakankshaduggal opened #224 "Add Data Science Review guidelines document"
- [x] Add Data Science Review guidelines document
- [x] Add this document to Data science workflow header

[2021-04-01 18:00] aakankshaduggal opened #227 "Error while trying to build locally"
When we try to build locally, using `make dev` got this error

![image](https://user-images.githubusercontent.com/26301643/113335080-781f7300-92f2-11eb-880c-c7a83805984f.png)

[2021-04-06 11:27] tumido commented on #227
/kind bug

[2021-04-06 11:36] tumido commented on #227
Hey @aakankshaduggal ! I can't reproduce this locally, this seems to be related to your local setup.

Let try doing this:
1. Please checkout to the latest master
2. Delete `.cache` and `public` folders
3. Do `npm install` to get all the dependencies which may have changed over time installed from `package-lock.json`
4. Run `make dev` again

If the problem occurs again, please post a full log in he

[2021-04-08 00:18] oindrillac commented on #208
#209

[2021-04-08 00:18] #208 closed

[2021-04-08 00:18] oindrillac commented on #202
#220

[2021-04-08 00:18] #202 closed

[2021-04-08 12:18] #217 closed

[2021-04-09 17:12] #224 closed

[2021-04-09 20:44] aakankshaduggal commented on #227
Thank you @tumido. This resolved the issue. :+1:

[2021-04-09 20:44] #227 closed

[2021-04-19 15:06] oindrillac opened #231 "Create Twitter Account"
create a twitter account for community updates and sharing stuff.

[2021-04-19 15:08] oindrillac commented on #231
FTR: spoke to @goern about how and if https://twitter.com/ThothStation is configured. Seems like it is a personal account with a shared password which anybody can tweet from, no bots involved.

[2021-04-19 15:12] tumido commented on #231
I'd like for us to have something like this set up:

https://github.com/gr2m/twitter-together

Basically we would tweet via PR, once merged it's submitted to Twitter.

[2021-04-19 15:13] oindrillac commented on #231
oh awesome! just what i was looking for. thanks for sharing @tumido

[2021-04-19 15:15] tumido commented on #231
Yeah, I've been eyeing that project for a while. :smile: I think I've already linked it in some issue, but apparently not. :smile:

[2021-04-21 15:26] goern commented on #231
I want this too, refactored, as a Tekton pipeline! :)

[2021-04-22 08:25] tumido commented on #145
So, Patternfly community finally replied. They don't maintain any of it and don't plan to support Gatsby. We would need to update it ourselves and create yet another theme/package if we want to support this. Leaving it up and open - I think this would be a nice Internship project.

/label hacktoberfest

[2021-04-22 11:00] tumido opened #237 "Implement discussions and comments for the website"
https://utteranc.es/ is an opersource app providing a comments widget backed by Github issues - users comment on a website - it appears as a comment to an issue. Each path/site has it's own issue.

I think it would be neat to make this available at least for certain pages where we would appreaciate user feedback

/label hacktoberfest

[2021-04-24 05:53] paoloantinori opened #239 "Wrong horizontal alignment in docs?"
Hi, I'm not sure if this change is deliberate or a side effect of some fiddling with HTML and css, but the docs has started to render with a funny a not very readable `text-align: center`:

![Screenshot from 2021-04-24 07-48-39](https://user-images.githubusercontent.com/1520602/115949016-1c4fa080-a4d2-11eb-9c6d-3ff521533501.png)

![Screenshot from 2021-04-24 07-52-50](https://user-images.githubuse

[2021-04-26 12:25] tumido commented on #239
Yes, the site got broken by #235 , we'll fix it asap. Thank you for reporting this. :slightly_smiling_face: :+1:

[2021-04-26 12:25] tumido commented on #239
/kind bug

[2021-04-26 12:44] tumido commented on #239
Will be resolved by: https://github.com/operate-first/operate-first.github.io/pull/240

[2021-04-26 12:49] #239 closed

[2021-04-26 16:59] oindrillac commented on #231
We now have a twitter account - https://twitter.com/OperateFirst
and a repo to collaboratively Tweet through PRs 🙂  - https://github.com/operate-first/operate-first-twitter
Follow, Re-tweet and share! 🐦

[2021-04-26 16:59] #231 closed

[2021-04-28 13:27] HumairAK opened #243 "Add twitter icon to top bar panel"

[2021-04-29 19:45] hemajv commented on #170
(Related issue: https://github.com/aicoe-aiops/ocp-ci-analysis/issues/238)

Took at look at the above mentioned blogs and tried to implement these workarounds. However, the blogs mention ways for rendering the plotly graphs/charts within the HTML page alone and does not seem to work or be applicable for rendering them within Jupyter notebooks. There seems to be no official support for enabling the

[2021-04-30 19:49] aakankshaduggal opened #246 "Add new EDA notebooks to Operate First"
Acceptance Criteria :

- [ ] Add Telemetry EDA notebook and
- [ ] Add Bugzilla EDA notebook to `AI for Continuous Integration` tab

[2021-04-30 19:57] chauhankaranraj commented on #246
/assign @aakankshaduggal @chauhankaranraj

[2021-05-03 14:31] aakankshaduggal opened #249 "Telemetry and Bugzilla EDA notebooks not showing up on side panel"
The Telemetry and Bugzilla EDA notebooks that were added a few days back, are however visible using the links : [Telemetry EDA](https://www.operate-first.cloud/data-science/ocp-ci-analysis/notebooks/data-sources/Telemetry/telemetry_EDA.ipynb) and [Bugzilla EDA](https://www.operate-first.cloud/data-science/ocp-ci-analysis/notebooks/data-sources/Bugzilla/bugzilla_EDA.ipynb) but not showing up on the

[2021-05-03 14:36] oindrillac commented on #249
@aakankshaduggal it seems that the urls in data-science.yaml #247 point to `/data-sources/Telemetry/telemetry_EDA.ipynb` which does not seem like the correct full href.
Fixing it to `data-science/ocp-ci-analysis/notebooks/data-sources/Telemetry/telemetry_EDA.ipynb`
and `data-science/ocp-ci-analysis/notebooks/data-sources/Bugzilla/bugzilla_EDA.ipynb`
should work

[2021-05-03 14:37] aakankshaduggal commented on #249
Awesome. I will do that now. Thanks @oindrillac

[2021-05-03 14:47] #249 closed

[2021-05-07 19:30] oindrillac opened #252 "Re-organize the Data Science Section"
The data science section currently consists of a lot of blogs and notebooks linked, and the vastness of the content is making it less discoverable and less welcoming for new contributors.

related https://github.com/aicoe-aiops/ocp-ci-analysis/issues/258

Acceptance:
- Come up with ideas and a plan to re-org the content

[2021-05-07 19:54] oindrillac commented on #252
@isabelizimm suggested that each project will have 4 markdowns "Overview", "Getting Started", "How to Contribute", "Content". Roughly building up on that:

We will have project as a section on the left hand Panel except the "[All Projects](https://www.operate-first.cloud/data-science/)" document, which will be the first markdown on the left hand panel.

Each project can have 4 markdowns:

- **Over

[2021-05-11 15:46] MichaelClifford commented on #252
@oindrillac @isabelizimm Sounds good.

For the "overview" section, we have been using the project readme to serve this purpose. Are you suggesting there be an additional abbreviated markdown in addition to the readme or the overview becomes the readme?

If its the former, how do you see the project readme functioning in this set up? Would it just link out to these other 4 documents?

[2021-05-11 17:14] oindrillac commented on #252
yes, I like that idea of having a separate overview doc which is published on the site and the project readme just has a brief overview (<100 words) like [given here](https://www.operate-first.cloud/data-science/) and it links to the 4 individual documents.

what do you think?

[2021-05-11 18:06] MichaelClifford commented on #252
@oindrillac sounds good :+1:

[2021-05-11 18:08] isabelizimm commented on #252
Making sure I'm not getting lost in overview docs vs. overview pages vs. readme vs. documents in various places in the sidebar... :)

- One page to easily scroll through all the projects.
The descriptions would be <100 words, which is the link @oindrillac gave. This is _not_ the readme since it should be more brief. It could link to the project on the Operate First site and Github repo, and could

[2021-05-13 14:28] #252 closed

[2021-05-14 16:44] oindrillac opened #255 "Adjust video frame size"
The default video frame size is on the site pretty large. This makes it difficult to embed multiple content videos on pages like https://www.operate-first.cloud/data-science/ocp-ci-analysis/docs/content.md as it will make it very cluttered.

Acceptance:
- Figure out a way to alter the frame size of the embedded video as needed on the blog.

cc: @MichaelClifford @isabelizimm

[2021-06-16 14:35] margarethaley opened #259 "Streamline content on Operate First Blueprints page for users"
The Blueprints page has some typos and grammar errors - correcting these as well as organizing the information more clearly can help make this page more understandable to the user.

- fix typos
- rephrase sentences
- clarify deployment vs delivery
- add a heading with a short summary and links for delivery page? (there's a section for architectural decisions, but not one for CD)
- clarify confusio

[2021-06-16 14:45] margarethaley opened #260 "Clarify information on the Operations page for users"
Information on the Operations page could be slightly more polished in order to appeal to users. I want to make sure the page is easy to read / understand and provides a simple explanation of what can be found in the tabs.

- improve phrasing/grammar
- make the meaning of GitOps more explicit
- link to more info on GitOps if the user wants to learn more
- add toolbox heading and info to main page

[2021-06-16 21:02] Shreyanand opened #262 "Update link for the new Jupyterhub monitoring dashboard"
https://www.operate-first.cloud/users/sre/runbooks/jupyterhub.md should reflect the link to the updated dashboard.

[2021-06-16 21:04] Shreyanand commented on #262
@tumido does the dashboard need to be changed more before it can be published here?

[2021-06-17 09:14] tumido commented on #262
Nope, I think the dashboard is final, at least for now, until we can consume events from loki as well. I'll update the link.

[2021-06-17 12:30] #262 closed

[2021-06-18 13:47] oindrillac commented on #260
related https://github.com/operate-first/community/issues/9

[2021-06-23 09:59] #260 closed

[2021-06-24 20:11] #259 closed

[2021-06-25 20:41] oindrillac opened #265 "[EPIC] Re-org data science projects"
Let's make all projects on the DS section on the website consistent as per our discussion in https://github.com/operate-first/operate-first.github.io/issues/252
Each project will follow the format followed by the [AI 4 CI ](https://www.operate-first.cloud/data-science/ocp-ci-analysis/)project.

Each of the following projects will have a section of their own:

- [x] Data Science Workflows - https:/

[2021-06-30 18:11] amsaparov commented on #265
@oindrillac
Margaret and I are working on the Data Science Workflows, and we had a few questions -
1. Should "Get Started" include the information that is currently the "overview" on the website for Data Science Workflows, or should that go under "How to Contribute"?
2. Where should the current Project Template and Guidelines for reviewing code go? (How to Contribute?)
3. Should the "Data Science

[2021-06-30 22:38] oindrillac commented on #265
@amsaparov @margarethaley thanks for taking this up.
I think the primary goal of re-organizing the data-science workflows section would be to "_familiarize anybody landing on the section with the data science workflow that we follow, how they can contribute as well as what are our ongoing initiatives_"

A good way to organize this, I think could be
1. **Overview** - This can give a brief high-leve

[2021-07-07 18:19] oindrillac opened #266 "Migrate repo to travis-ci.com from travis-ci.org"
Our travis-ci.org repository is now read-only on https://travis-ci.org/github/operate-first/operate-first.github.io and has been automatically deactivated which makes us unable to trigger a new build for website content changes.

We need to migrate to travis-ci.com to enable us to Trigger builds again.

Can someone with admin access to the operate-first organization [set this repository up for mig

[2021-07-08 21:36] #193 closed

[2021-07-09 13:54] tumido commented on #266
I hope i followed the process right (initially the migration button was grayed out for us, requiring me to sign the org up for some beta migration plan). Now the repo appears on travis com website...

https://travis-ci.com/github/operate-first/operate-first.github.io

Let me know if there's still any issues with the setup.

[2021-07-09 14:16] oindrillac commented on #266
thanks @tumido, able to trigger builds again 👍

[2021-07-09 14:16] #266 closed

[2021-07-09 15:03] oindrillac opened #267 "re-build of the website fails"
Our re-build triggers[1][2] of the website failed

Log:
[code]
**To Reproduce:**
* Clone Repository
* `make dev` from root to see stack trace

[1] https://www.travis-ci.com/github/operate-first/operate-first.github.io/builds/232293009
[2] https://www.travis-ci.com/github/operate-first/operate-first.github.io/builds/232293093

[2021-07-14 00:03] oindrillac commented on #267
@harshad16 and @Gkrumbach07 looked into this issue and this is what was detected:

**tldr:**
long line breaks in notebooks such as `------` create `hr` tags in notebooks which causes the notebook renderer to error out due to this line of [code](https://github.com/rafaelquintanilha/notebook-render/blob/master/src/index.tsx#L230) which sets `escapeHtml` to false essentially trusting that the html do

[2021-07-14 00:03] oindrillac commented on #267
/assign @oindrillac
/assign @harshad16
/assign @Gkrumbach07

[2021-07-14 00:03] sesheta commented on #267
@oindrillac: GitHub didn't allow me to assign the following users: Gkrumbach07.

Note that only [operate-first members](https://github.com/orgs/operate-first/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/commu

[2021-07-14 00:16] oindrillac opened #268 "detect bad HTML to prevent notebook renderer from failing"
We faced an issue (#267) with the line breaks in external notebooks which are added to the site to be detected as bad HTML which cause our notebook renderer to error out resulting in a build fail. We need to include a plugin which automatically detects occurrences of bbad HTML.

cc: @Gkrumbach07

[2021-07-14 14:06] Gkrumbach07 commented on #268
**This is the bad HTML fix**

This [plugin](https://github.com/rehypejs/rehype-sanitize) can be used on top of the [markdown renderer](https://github.com/remarkjs/react-markdown#use-remark-and-rehype-plugins-math). Could be hard to implement however due to the package not having this capability inherently at the current version we are using. Would have to do some testing to see whats possible.

[2021-07-14 14:43] #267 closed

[2021-07-19 21:21] quaid commented on #265
/label area/user
/label kind/experience
/label kind/website

[2021-07-19 21:21] sesheta commented on #265
@quaid: The label(s) `/label area/user
, /label kind/experience
, /label kind/website` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/do

[2021-07-23 20:18] hemajv opened #270 "Add Trino+Superset user guide"
Add the [Trino+Superset user guide](https://github.com/operate-first/support/blob/main/docs/trino_superset_user_guide.md) to the website

[2021-07-23 21:01] #270 closed

[2021-07-27 19:06] oindrillac opened #272 "Configuration Files Analysis"

[2021-07-27 19:06] oindrillac opened #273 "Data Driven Diagnosis Discovery"

[2021-07-27 19:06] oindrillac opened #274 "Pet Image Detection"

[2021-07-27 19:06] oindrillac opened #275 "Time Series Analysis"

[2021-07-27 19:09] oindrillac opened #276 "Mailing List Analysis"

[2021-07-28 21:22] quaid opened #277 "Local website development environment not working"
Working in a Fedora Toolbox, I've been setting up [my own repo](https://github.com/quaid/operate-first.github.io/) for doing website changes, and I'm having troubles with the steps in the [README.md](https://github.com/operate-first/operate-first.github.io/blob/master/README.md) for this repo. I'm working on setting up a local development environment so I can test site redesigns locally.

When I r

[2021-07-30 15:51] oindrillac commented on #277
@quaid I think you might be [missing installation of Gatsby](https://www.gatsbyjs.com/docs/tutorial/part-0/) on your local machine? I had to install `node` and `npm install -g gatsby-cli`. We should add that as a pre-requisite on the instructions

[2021-07-30 20:19] quaid commented on #277
Yeah, I have a few suggestions for improving the README, that being one of them.

Since I couldn't find a system package, I used the [Gatsby quickstart](1) but it uses a combined move of `npm init gatsby` and maybe that didn't get me what I needed. Going back to use `npm install gatsby`, I get two different results depending on which branch I'm in for the repo. I suppose this is related to the `no

[2021-07-31 02:49] quaid commented on #277
I removed the Fedora repo versions of Node.js and npm, then followed the instructions on the Gatsby site for getting Node.js and Gatsby installed, as linked from PR #278 . Same error pathway unfortunately: the `make dev` fails for a missing `gatsby-source-filesystem`, and trying to install that with `npm` also fails the same.

Here are those two logs:
[2021-07-31T02_44_51_903Z-debug.log](https://g

[2021-08-02 09:08] durandom commented on #277
Actually `make dev` should install all the dependencies for you.

@tumido I'd love to see `toolbox` version for the development. Or a containerized version. I think I'll play with that a bit...

[2021-08-02 16:28] durandom commented on #277
Change this in `package.json`
[code]

Then create the container initially:

[code]

Then point your browser to http://localhost:8080

Later, you can restart the container with

[code]

As said, you can comment all the `source-git` inclusions, to compile faster in `gatsby-config.js`
[code]

This is with docker on my :cough: mac...
with the https://github.com/operate-first/toolbox it should be simil

[2021-08-02 16:46] quaid commented on #277
Can we do this with `podman` instead? I.e., if we're using `podman` in the rest of the infrastructure, it would be good to use the same OCR runtime in this setup.

[2021-08-04 17:36] oindrillac commented on #274
resolved by https://github.com/aicoe-aiops/pet-image-detection/pull/11

[2021-08-04 17:36] #274 closed

[2021-08-04 19:25] oindrillac opened #280 "Stateful Sessions for Intelligent Apps"
Add [Stateful Sessions for Intelligent Apps](https://www.operate-first.cloud/data-science/stateful-sessions-for-intelligent-apps/docs/blog.md) to Projects overview doc

[2021-08-04 19:26] oindrillac commented on #280
/assign @oindrillac

[2021-08-04 21:44] #276 closed

[2021-08-05 16:47] #280 closed

[2021-08-05 16:52] oindrillac commented on #265
The opf website [Data Science section](https://www.operate-first.cloud/data-science/data-science-workflows/) looks much more organized in comparison to before. Thanks to @margarethaley and @amsaparov for creating documentation for the Data Science Workflows section and others for reorganizing the repos! 🎉

For the repos remaining to be re-organized, please follow the same structure as others and m

[2021-08-05 19:48] tumido commented on #277
https://github.com/operate-first/operate-first.github.io/pull/283 together with https://github.com/operate-first/toolbox/pull/41 makes it possible to run a simple dev setup within the toolbox without any other additional setup needed.

[2021-08-06 16:58] quaid commented on #277
We can't make using the Toolbox the only method for contributing to the website, that is actually a higher bar to participation than before. (I know the Toolbox is ready-to-go, but it presumes that one is even familiar with or has access to that technology.)

If the steps for creating a build environment to test website changes is too complicated, we should look at using a simpler tool for buildin

[2021-08-17 15:59] oindrillac opened #289 "The left hand panels are mixed up"
The configs seemed to have been switched somehow, and now we dont see the correct left hand toc panel for the sections
![image](https://user-images.githubusercontent.com/32435206/129760108-1cc33878-7b67-437c-bcd7-569b7bdb8d3b.png)

[2021-08-18 04:49] quaid opened #291 "Front page not responsive to mobile"
I don't know if this is a new issue or an existing one with the site CSS. When viewed on a mobile device, it does not offer a modified, responsive mobile experience, nor does it offer (on Chrome on Android) full scrolling or ways to get access to the edges of content.

Landscape view

![Screenshot_20210817-213615](https://user-images.githubusercontent.com/112760/129838719-54aa878f-f91a-4ea0-b232-9

[2021-08-18 14:23] oindrillac commented on #289
@tumido any idea whats going on with the side panels?

[2021-08-18 14:48] oindrillac commented on #289
resolved by #292

[2021-08-18 14:48] #289 closed

[2021-08-18 18:03] oindrillac opened #294 ""Operate First Support", "Toolbox", "Additional Resources" duplicating on each side panel"
The "**Operate First Support**", "**Toolbox**" & "**Additional Resources**" panel items now appear on each of the 4 side panels in Data Science, Users, Operations and Blueprints.

![image](https://user-images.githubusercontent.com/32435206/129948918-9f3cf671-b70d-41a4-b23b-150ee7a62f84.png)

Is this an intentional change? I think these are valuable resources. However, is it necessary to duplicate

[2021-08-18 18:08] tumido commented on #294
Sigh... Yup, my fault again. I'll send a PR shortly.😉

[2021-08-18 19:22] tumido commented on #277
Hm.. how can I replicate your issue. Developer environment works locally fine for me.

can you please share your node.js version:

[code]

I think the dev experience should be as simple as:

[code]

which works for me. :shrug:

[2021-08-18 19:23] tumido commented on #277
I agree that toolbox shouldn't be the always go-to tool for any changes. It should be much simple as usually is for any web development.

[2021-08-18 19:37] tumido opened #296 "Speed up build"
The page takes ages to build (in both dev and prod) because our node layout is not ideal.

Any changes requires whole schema rebuild, because our navigation queries all possible routes via GraphQL and filters them on render. This filtering should happen during schema query instead:

https://github.com/operate-first/operate-first.github.io/blob/02b83ad2dd9d3d4031d3e9e93593164f3f4a9309/src/component

[2021-08-18 20:15] tumido commented on #291
I think #288 fixes most of the issues, I think that's a good starting point. WDYT?
![Peek 2021-08-18 22-13](https://user-images.githubusercontent.com/7453394/129965823-4e80be53-8f5b-4633-b94d-39cc25270bb2.gif)

The unequal button width is a Patternfly issue, we can look into it and workaround it by some CSS and the footer is also a problem that we'll need to look into next.

[2021-08-18 20:23] #294 closed

[2021-08-19 16:40] quaid commented on #291
Oh, so much better @tumido ! Yeah, my mobile view looks just like yours, same unequal buttons and footer issue.

Shall we see if anyone from Patternfly would like to help?

We can keep this issue open as we fine tune. Thanks!

[2021-08-19 16:44] quaid commented on #277
@tumido cool, I agree, let's keep it simple _and_ have our great developer toolbox experience. :)

I'll look further into my env and try things again, here's my Node.js version:

npm version
{
  'operate-first.github.io': '0.1.0',
  npm: '6.14.13',
  ares: '1.17.1',
  brotli: '1.0.9',
  cldr: '38.1',
  icu: '68.2',
  llhttp: '2.1.3',
  modules: '83',
  napi: '8',
  nghttp2: '1.43.0',
  node: '14.1

[2021-08-20 15:41] 4n4nd opened #297 "Broken links in the users/support page"
The following highlighted links in the [supports page](https://www.operate-first.cloud/users/support/) don't seem to be working properly:
![image](https://user-images.githubusercontent.com/22333506/130258370-448053ef-f64a-43f7-b186-fc5727a4aef2.png)

[2021-08-20 15:48] oindrillac commented on #297
thanks @4n4nd! do you have the right links?

[2021-08-20 15:49] oindrillac commented on #297
just noticed that the "here" link says Application Not Available, we should change that too.
![image](https://user-images.githubusercontent.com/32435206/130259500-d38ff86e-c706-46e8-8eb3-e3931d1a3786.png)
 do you have the new link?

[2021-08-20 16:16] 4n4nd commented on #297
@HumairAK sent me the correct links:
1. https://github.com/operate-first/support/tree/main/docs/odh
2. https://github.com/operate-first/support/tree/main/docs/kubeflow

[2021-08-23 11:01] tumido commented on #277
@quaid I think the problem here is your `node` version. This repo requires Node.js in version 12, since that's the builder image's Node version. All the locked dependencies are locked to versions supported for this particular node version.

Can you try installing and using `nvm`? https://github.com/nvm-sh/nvm

After you install it you should be able to run following commands to change your Node.js

[2021-08-23 11:10] tumido commented on #291
I think I can try doing something about it first, I think it'll be faster than involving multiple teams. :slightly_smiling_face:

[2021-08-24 17:43] MichaelClifford opened #300 "Create proper landing page for `https://www.operate-first.cloud/data-science/`"
Currently ``https://www.operate-first.cloud/data-science/`` is just the project overview page. We should replace this with a proper landing page that explains a bit of what the aicoe data science group is and what our goals are.

Acceptance Criteria:

- [x] New text for `https://www.operate-first.cloud/data-science/` outlining the purpose of aicoe DS and appropriate call to action and ways to enga

[2021-08-24 17:44] MichaelClifford commented on #300
/assign @MichaelClifford

[2021-08-25 16:01] #273 closed

[2021-08-27 18:23] oindrillac opened #303 "website build fails"
The last 3 [builds](https://app.travis-ci.com/github/operate-first/operate-first.github.io/builds) of the website failed.
The last build which ran successfully was from https://github.com/operate-first/operate-first.github.io/pull/290

![image](https://user-images.githubusercontent.com/32435206/131171582-da4dfbfa-cfb7-4d66-8d57-7de381320168.png)

[code]

[2021-08-29 21:14] oindrillac commented on #303
cc: @tumido

[2021-08-30 09:06] goern opened #305 "git-source w/o .md ?!"
some of the thoth repos do not contain any markdown, as they are python, we use .rst, see https://github.com/thoth-station/prescriptions or https://github.com/thoth-station/storages The API documentation is .rst too

how can we add these as remote content and render it?

Cc: @fridex @harshad16

[2021-09-01 17:42] chauhankaranraj commented on #272
This issue was resolved by aicoe-aiops/configuration-files-analysis#40 and subsequently #285, right? GitHub doesn't seem to have automatically closed this issue, can we just do it manually?

/cc @Shreyanand @oindrillac

[2021-09-02 14:14] oindrillac commented on #303
_Transcript of Slack thread: https://operatefirst.slack.com/archives/C01RMPVUUK1/p1630519513063800?thread_ts=1630519513.063800&cid=C01RMPVUUK1_

[2021-09-02 14:14] #303 closed

[2021-10-03 12:49] michaelfactor opened #311 "links to dashboards from https://www.operate-first.cloud/users/support/#moc-environment don't work"
In all cases unable to establish a connection.
<img width="1053" alt="Screen Shot 2021-10-03 at 15 46 29" src="https://user-images.githubusercontent.com/18613732/135754360-18c45833-ea85-4c34-94ab-0e962f7ef7c6.png">

[2021-10-11 14:36] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 17:36] sesheta commented on #100
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 17:36] sesheta commented on #142
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 17:36] sesheta commented on #167
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 20:36] sesheta commented on #180
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 20:36] sesheta commented on #184
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-11 20:36] sesheta commented on #183
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-12 05:37] sesheta commented on #207
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-12 13:21] HumairAK commented on #191
looks like this was resolved

[2021-10-12 13:21] #191 closed

[2021-10-12 23:44] sesheta commented on #77
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-13 01:33] #221 closed

[2021-10-13 11:28] #16 closed

[2021-10-14 15:00] sesheta commented on #170
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-15 12:05] schwesig commented on #305
/triage accepted
/kind documentation
/priority important-longterm

[2021-10-15 12:28] schwesig commented on #311
partly solved by https://github.com/operate-first/support/pull/426

[2021-10-16 15:01] sesheta commented on #268
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-17 19:40] schwesig commented on #25
/triage accepted
/kind experience
/priority important-longterm

[2021-10-17 19:42] schwesig commented on #2
/close

[2021-10-17 19:42] #2 closed

[2021-10-17 19:42] sesheta commented on #2
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/2#issuecomment-945183146):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-10-17 19:44] schwesig commented on #145
/remove-lifecycle stale
/good first issue
/kind website
/priority important-longterm

[2021-10-19 20:20] MichaelClifford commented on #300
/closed by #309

[2021-10-19 20:20] #300 closed

[2021-10-19 22:25] MichaelClifford opened #318 "Create landing page for public DS Meet Up [EPIC]"
We would like to start hosting regular Data Science Meet Ups as part of the operate first community. These meet ups should include quick highlights on the state of ongoing projects and new features available to OPF DS users as well as deep dives into a particular project or topic each session. All sessions should be public and recorded.

- [ ] Write landing page markdown for a public opf ds meet u

[2021-10-27 15:00] aakankshaduggal opened #319 "Add github-labeler blog to opf website"
For the project [github-labeler](https://github.com/aicoe-aiops/github-labeler), add the project description and blog to the Data Science Projects

- [ ] Create an addition to the existing [projects' document](https://github.com/operate-first/operate-first.github.io/blob/master/content/data-science/projectsoverview.md)

- [ ] Link the blog to the description

cc- @MichaelClifford @antter

[2021-11-02 12:46] MichaelClifford commented on #318
https://github.com/AICoE/okr/issues/4

[2021-11-03 16:28] #243 closed

[2021-11-05 16:28] #319 closed

[2021-11-09 15:05] #318 closed

[2021-11-10 15:02] tumido opened #326 "Migrate from Travis to something else for public builds"
It seems Travis started consuming "credits" for some reason and I'm unable to unblock it

https://app.travis-ci.com/organizations/operate-first/repositories

![image](https://user-images.githubusercontent.com/7453394/141137239-05ce823f-7600-4371-81b8-42a9fa3c1db3.png)

I have no idea why is that, what caused it and how to resolve it without paying to Travis.
![image](https://user-images.githubuser

[2021-11-10 15:10] sesheta commented on #26
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:10] sesheta commented on #18
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:10] sesheta commented on #32
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:10] sesheta commented on #52
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:10] sesheta commented on #86
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:10] sesheta commented on #3
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 15:18] HumairAK commented on #3
We have an operate first bot being used for this, can be closed now. https://github.com/op1st

[2021-11-10 15:18] #3 closed

[2021-11-10 15:22] HumairAK commented on #297
this is now resolved

[2021-11-10 15:22] #297 closed

[2021-11-10 16:13] Shreyanand commented on #86
/remove-lifecycle rotten

[2021-11-10 16:14] #272 closed

[2021-11-10 18:10] sesheta commented on #100
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 18:10] sesheta commented on #142
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 18:10] sesheta commented on #167
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 18:10] sesheta commented on #155
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 21:10] sesheta commented on #180
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 21:10] sesheta commented on #184
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 21:11] sesheta commented on #183
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-10 23:53] quaid opened #327 "Feature: "OSS Project" pages for open source project tenants"
This proposal is to define and create a new feature of the Operate First community website. The term "project" is overloaded in the open source software (OSS) space, but that's a close-enough description for now. We should definitely consider a descriptive name for this.

What
====
_Description of feature as if it exists_

On the website main menu is a link to `Hosted OSS Projects` (or `OSS Projec

[2021-11-11 06:10] sesheta commented on #206
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-11 12:10] sesheta commented on #214
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-11 12:10] sesheta commented on #15
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-11 13:48] tumido commented on #326
/assign @mimotej
/kind bug

[2021-11-11 13:49] tumido commented on #326
/priority critical-urgent

[2021-11-12 00:11] sesheta commented on #218
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-12 03:11] sesheta commented on #77
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-13 15:11] sesheta commented on #170
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-16 14:41] aakankshaduggal opened #329 "Broken Links on hitchhikers-guide/operations-intro.md"
These two links are broken on the website -
1. Link to [Docs](https://www.operate-first.cloud/operations/sre/incident-management/incident-management-procedure.md) -
![image](https://user-images.githubusercontent.com/26301643/142005606-a1facf96-4992-4d2b-9477-1ca8450911c0.png)
2. Link to [Toolbox](https://www.operate-first.cloud/operations/toolbox/README.md) -
![image](https://user-images.githubuse

[2021-11-16 21:12] sesheta commented on #216
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-18 17:06] asmacdo opened #331 "Broken relative links after using back button"
![Screenshot from 2021-11-18 12-02-34](https://user-images.githubusercontent.com/1028657/142462030-a6cf7443-baaa-48da-b796-bbd99832f9df.png)
The "blueprints" link leads to https://www.operate-first.cloud/blueprints/blueprint/ with a trailing slash.

The links on this page are under `blueprints/blueprint/adr/*` https://www.operate-first.cloud/blueprints/blueprint/adr/0000-use-markdown-architectural

[2021-11-19 15:21] HumairAK commented on #216
/remove-lifecycle rotten

[2021-11-21 12:15] sesheta commented on #277
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-25 15:34] #326 closed

[2021-11-25 15:34] tumido commented on #326
See #334  for more enhancements and #335  for docs

[2021-11-26 16:54] tumido commented on #216
Resolved via #334

I know that we're not doing reactive (on activity on different repos) build triggers, which was the purpose for this issue. However we're issuing a rebuild daily instead. I think that should be "enough" for now. We also have a manual trigger now (see #335 ) so if there's a need to immediately trigger a new build we can.

If the solution is not enough, please reopen the issue and

[2021-11-26 16:54] #216 closed

[2021-12-06 19:27] HumairAK opened #337 "Broken links on the Front Page"
@Gregory-Pereira  pointed out that both of these links don't work and need to be fixed.

![image](https://user-images.githubusercontent.com/10904967/144909263-92bf5729-6247-4908-bdbe-26b55fc130ff.png)

Though I don't think the links they pointed to before made much sense either, which pages should these point to? Are these supposed to point to learning paths as mentioned here https://github.com/op

[2021-12-06 19:28] HumairAK commented on #337
@quaid

[2021-12-07 03:43] quaid commented on #337
Yes, this is a kinda Sev1 issue that our prominent call-to-action buttons are 404.

Can we return the links to working with the destination we had before?

It's true the links (used to) go to sub-optimal pages until something better is built. Optimal would be directed learning paths, sub-optimal is that we have a look-around-and-DIY approach currently. That's what we have for now, and there is act

[2021-12-07 05:04] quaid commented on #337
OK, I created #338 to create new landing pages for both those CTA links.

In the interest of fixing broken prominent links, feel free to force fix any mistakes I made in the PR to send it live. I'll edit this comment with the Netlify URL when the build is ready.

[2021-12-10 15:17] sesheta commented on #26
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 15:17] sesheta commented on #18
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 15:17] sesheta commented on #52
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 15:17] #26 closed

[2021-12-10 15:17] #52 closed

[2021-12-10 15:17] #18 closed

[2021-12-10 15:17] sesheta commented on #26
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/26#issuecomment-991056943):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-10 15:17] sesheta commented on #52
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/52#issuecomment-991056950):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-10 15:17] sesheta commented on #18
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/18#issuecomment-991056959):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-10 18:17] sesheta commented on #32
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] sesheta commented on #142
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] sesheta commented on #95
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] sesheta commented on #100
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] sesheta commented on #155
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] sesheta commented on #167
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 18:17] #95 closed

[2021-12-10 18:17] #100 closed

[2021-12-10 18:17] #32 closed

[2021-12-10 18:17] #142 closed

[2021-12-10 18:17] sesheta commented on #100
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/100#issuecomment-991191111):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 18:17] sesheta commented on #32
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/32#issuecomment-991191087):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-10 18:17] sesheta commented on #142
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/142#issuecomment-991191100):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 18:17] #155 closed

[2021-12-10 18:17] sesheta commented on #167
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/167#issuecomment-991191132):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 18:17] #167 closed

[2021-12-10 18:17] sesheta commented on #155
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/155#issuecomment-991191124):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 21:17] sesheta commented on #180
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 21:17] sesheta commented on #184
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 21:17] sesheta commented on #183
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-10 21:17] #184 closed

[2021-12-10 21:17] #180 closed

[2021-12-10 21:17] sesheta commented on #184
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/184#issuecomment-991299668):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 21:17] sesheta commented on #180
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/180#issuecomment-991299657):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-10 21:17] #183 closed

[2021-12-10 21:17] sesheta commented on #183
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/183#issuecomment-991299678):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-11 06:17] sesheta commented on #206
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-11 06:17] #206 closed

[2021-12-11 06:17] sesheta commented on #206
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/206#issuecomment-991477207):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-11 12:17] sesheta commented on #214
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-11 12:17] sesheta commented on #15
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-11 12:17] #15 closed

[2021-12-11 12:17] sesheta commented on #15
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/15#issuecomment-991622734):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-11 12:17] #214 closed

[2021-12-11 12:17] sesheta commented on #214
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/214#issuecomment-991622724):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-12 00:17] sesheta commented on #218
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-12 00:17] #218 closed

[2021-12-12 00:17] sesheta commented on #218
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/218#issuecomment-991809607):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-12 03:17] sesheta commented on #77
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-12 03:17] #77 closed

[2021-12-12 03:17] sesheta commented on #77
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/77#issuecomment-991827691):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2021-12-21 12:21] sesheta commented on #277
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-11 19:36] bryanmontalvan opened #343 "Broken OpenShift link on README"
Clicking on the OpenShift link leads to a 404
![gnome-shell-screenshot-89LVF1](https://user-images.githubusercontent.com/68972382/149009445-e221c18c-a5b0-4dca-b1bd-570f223a193c.png)

![image](https://user-images.githubusercontent.com/68972382/149009425-7fd98b44-62d5-4006-823d-9bffc6525cfe.png)

[2022-01-11 20:41] #337 closed

[2022-01-12 13:47] aakankshaduggal opened #344 "Links on data-science-workflows page"
The links on the operate-first website for the [Data Science Workflow Page](https://www.operate-first.cloud/data-science/data-science-workflows/) seem broken. On further inspection, it seems that they are acting **flaky**.
Once you may see this,
![image](https://user-images.githubusercontent.com/26301643/149151939-13f4feca-8505-4dfd-a35d-78cc0680d830.png)
But next time you may see this,
![image](h

[2022-01-12 14:15] oindrillac commented on #344
It seems that when the page https://www.operate-first.cloud/data-science/data-science-workflows/ is navigated to from the website, it will have the trailing `/` and will result in the complete url and hence does not break.

But when we directly open the link in a chrome browser, chrome seems to clip the trailing `/` at the end of `https://www.operate-first.cloud/data-science/data-science-workflows

[2022-01-12 14:18] oindrillac commented on #344
btw we can observe the same issue with other pages on the site such as https://www.operate-first.cloud/data-science/ai4ci/

[2022-01-13 12:24] sesheta commented on #305
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-13 21:03] #344 closed

[2022-01-15 21:24] sesheta commented on #291
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-15 21:24] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-15 21:24] sesheta commented on #145
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-15 21:24] sesheta commented on #176
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-15 21:24] sesheta commented on #237
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-19 18:25] sesheta commented on #311
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-19 18:27] HumairAK commented on #311
links were updated, can be found here: https://github.com/operate-first/support/issues/298
please create a new issue if there are any more broken links, thanks.

[2022-01-19 18:27] #311 closed

[2022-01-20 12:11] #343 closed

[2022-01-20 12:23] sesheta commented on #277
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-20 12:23] #277 closed

[2022-01-20 12:23] sesheta commented on #277
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/277#issuecomment-1017442967):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-01-24 17:28] mykaul opened #349 "Broken link to all ADRs if navigated from the navigation menu - /docs/ should be /adr/"
Click - Blueprints and then try to go to Architecture Decision Records on the left navigation bar, and click on any ADR - seem broken.
For example, it leads to:
https://www.operate-first.cloud/blueprints/blueprint/docs/adr/0000-use-markdown-architectural-decision-records.md
instead of:
https://www.operate-first.cloud/blueprints/blueprint/adr/0000-use-markdown-architectural-decision-records.md

[2022-01-27 13:38] larsks opened #350 "Provide link to mailing list on community page"
While there is a link to the mailing list on the [main page](https://www.operate-first.cloud/), it's somewhat hidden down at the bottom. The obvious place to find this would be on the [community page](https://www.operate-first.cloud/community/) page, but that only links to slack, twitter, and youtube.

[2022-01-27 13:49] larsks commented on #350
While there is a link to the mailing list on the [main page](https://www.operate-first.cloud/), it's somewhat hidden down at the bottom. The obvious place to find this would be on the [community page](https://www.operate-first.cloud/community/) page, but that only links to slack, twitter, and youtube.

[2022-01-27 18:08] Gregory-Pereira opened #353 "Incorrect link on homepage #interested link 2"
On the [homepage](https://github.com/operate-first/operate-first.github.io/blob/master/content/index.md) the second link: `Find out about our resources` currently routes to https://github.com/operate-first/operate-first.github.io/blob/master/hitchhikers-guide/support/README.md, which no longer exists.

[2022-02-01 13:24] HumairAK commented on #350
@larsks this can be closed now yes?

[2022-02-01 21:19] #353 closed

[2022-02-01 21:43] #350 closed

[2022-02-02 10:43] pacospace opened #357 "Do we have a section describing how to update grafana dashboard once a new version of the JSON template is modified"
Describe the process on how to get a new version of the grafana dashboard updated:

1. Modify your grafana dashboards, making sure the ID is different
2. Modify the grafana operator CRD, changing version, so that the operator recognizes the change in the CRD
3. ??

[2022-02-02 17:54] HumairAK commented on #357
Not sure I understand.

Assuming you are talking about: https://grafana.operate-first.cloud/?orgId=1

Add your new dashboard per instructions here: https://www.operate-first.cloud/apps/content/grafana/add_grafana_dashboard.html

IIRC once merged by argocd, grafana ends up re-deploying with the new dashboard. I _don't_ think the id needs to be different.

@4n4nd might know more.

[2022-02-02 18:01] pacospace commented on #357
I remember there was an issue in grafana operator upstream, because ArgoCD, because not changing the CRD but changing the json, does not retrigger a sync to my knowldge as the CRD is still the same. But maybe the feature @4n4nd introduced fixed that.

Reference: https://github.com/thoth-station/thoth-application/issues/1004
and @4n4nd issue upstream: https://github.com/grafana-operator/grafana-ope

[2022-02-03 17:08] Fryguy opened #358 "Emojis are not rendered"
One of the first pages you see is https://www.operate-first.cloud/data-science/ and right at the top you can see that `:sunglasses:` is not rendered.

I think the fix is to include the [gatsby-remark-emojis](https://www.gatsbyjs.com/plugins/gatsby-remark-emojis/) plugin, but as I'm new to this repo (and gatsby in general) I'm not sure how to progress to fix it.

[2022-02-08 18:27] sesheta commented on #86
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 18:27] sesheta commented on #265
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 19:15] #265 closed

[2022-02-09 00:27] sesheta commented on #327
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 15:27] sesheta commented on #255
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 15:37] bryanmontalvan opened #359 "Remove MOC-Zero from cluster menu"
### Issue:
Hey All,
The cluster menu on the home page is showing MOC-Zero as one of the dropdown clusters which should be removed

### Picture:
![image](https://user-images.githubusercontent.com/68972382/153441132-1ddf2320-4af6-494f-aa9d-fc3e71102d98.png)

[2022-02-12 12:27] sesheta commented on #305
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-13 03:28] sesheta commented on #170
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 14:41] oindrillac commented on #305
/remove-lifecycle rotten

[2022-02-14 14:56] #359 closed

[2022-02-14 15:28] sesheta commented on #329
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 21:27] sesheta commented on #25
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-14 21:27] sesheta commented on #176
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-14 21:27] sesheta commented on #237
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-14 22:45] oindrillac commented on #25
/remove-lifecycle rotten

[2022-02-14 22:46] oindrillac commented on #237
/remove-lifecycle rotten

[2022-02-14 22:47] oindrillac commented on #176
/remove-lifecycle rotten

[2022-02-15 21:00] carlosGimeno opened #361 "Change/Upgrade the Intro page of the Community Handbook"
Currently, the landing page of the Community Handbook when clicking the ["Community Handbook"](https://www.operate-first.cloud/community-handbook/) in the top Navbar is not very detailed and still references the Hitchiker Guide, which was replaced with the Community Handbook on a previous PR. I suggest replacing this page with the [General/Intro page](https://www.operate-first.cloud/community-hand

[2022-02-15 21:04] carlosGimeno commented on #361
In order to make this change, I was thinking of redirecting directly to the [General/Intro page](https://www.operate-first.cloud/community-handbook/main/README.md) and thus, eliminating [index.md](https://github.com/operate-first/operate-first.github.io/blob/master/content/community-handbook/index.md). Another option, which might be sort of a quick fix, could be to simply copy the information to t

[2022-02-16 18:28] sesheta commented on #331
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-17 18:45] bryanmontalvan commented on #361
Hey Carlos, it seems this issue is similar or the same as this [issue](https://github.com/operate-first/community-handbook/issues/26) from the community-handbook repo

[2022-03-02 11:25] sesheta commented on #145
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-02 11:25] sesheta commented on #291
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 20:26] sesheta commented on #86
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-11 02:26] sesheta commented on #327
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-12 17:26] sesheta commented on #255
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-15 05:26] sesheta commented on #170
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-16 15:40] TomasTomecek commented on #331
+1, still an issue I just ran into

[2022-03-16 17:26] sesheta commented on #329
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-18 13:39] HumairAK commented on #331
/remove-lifecycle stale

[2022-03-23 19:30] quaid commented on #327
/remove-lifecycle-rotten

[2022-04-01 14:07] sesheta commented on #145
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-01 14:07] #145 closed

[2022-04-01 14:07] sesheta commented on #291
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/291#issuecomment-1085947436):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-01 14:07] #291 closed

[2022-04-01 14:07] sesheta commented on #145
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/145#issuecomment-1085947419):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-05 17:18] quaid opened #367 "Create "Docs and Training" menu item, landing page, and clean up menu"

[2022-04-09 23:07] sesheta commented on #86
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-09 23:07] #86 closed

[2022-04-09 23:07] sesheta commented on #86
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/86#issuecomment-1094138885):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-04-11 20:07] sesheta commented on #255
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-11 20:07] #255 closed

[2022-04-11 20:07] sesheta commented on #255
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/255#issuecomment-1095515739):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-13 13:19] durandom opened #370 "repo too large"
Using https://github.com/newren/git-filter-repo it looks like the size of the repo (7GB++) is due to the `gh-pages` branch containing a lot of pages and all the history.

Solutions:

* purge history from `gh-pages` branch
* have the deployed site not in a branch, but different repo
* deploy the site *not* via GitHub pages

[2022-04-13 13:21] durandom commented on #370
to speed up local build times:

### shallow clone
`git clone --depth 1 git@github.com:operate-first/operate-first.github.io.git`

### multi core builds
`GATSBY_CPU_COUNT=6 npm run dev`

[2022-04-13 16:27] durandom opened #371 "upgrade gatsby to v4"
we're currently using gatsby-2.0 while gatsby-4 is the latest.

[2022-04-13 20:59] durandom commented on #371
and while we're at it, now that we want to restructure the site, maybe we want to switch to an easier maintainable theme?

How about a gatsby theme from themeforrest, like https://spet-gatsby.envytheme.com/ ?

cc @quaid

[2022-04-14 08:08] sesheta commented on #170
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 08:08] #170 closed

[2022-04-14 08:08] sesheta commented on #170
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/170#issuecomment-1098827165):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-14 10:01] schwesig commented on #371
/cc  @schwesig
/area communication

[2022-04-14 10:01] sesheta commented on #371
@schwesig: The label(s) `area/communication` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/371#issuecomment-1098971024):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions

[2022-04-15 20:09] sesheta commented on #329
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-15 20:09] #329 closed

[2022-04-15 20:09] sesheta commented on #329
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/329#issuecomment-1100364330):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-22 20:09] sesheta commented on #327
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-22 20:09] sesheta commented on #327
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/327#issuecomment-1106823207):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-04-24 19:13] sesheta commented on #349
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 08:37] mykaul commented on #349
/remove-lifecycle stale

[2022-04-25 21:04] jasonbrooks commented on #327
/reopen

[2022-04-25 21:05] jasonbrooks commented on #327
@quaid I think the problem when you tried to remove the rotten tag is you had a hyphen where there ought to have been a space

[2022-04-25 21:38] quaid commented on #327
Ah!
/reopen

[2022-04-25 21:38] sesheta commented on #327
@quaid: Reopened this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/327#issuecomment-1109066525):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-04-29 11:40] ptrnull opened #373 "Broken links"
Hello, the following links are broken:

https://www.operate-first.cloud/data-science/github-labeler/docs/contribute.md
https://www.operate-first.cloud/data-science/github-labeler/docs/content.md
https://www.operate-first.cloud/community-handbook/sre/incident-management/incident-management-procedure.md
https://www.operate-first.cloud/community-handbook/sre/incident-management/github-receiver-setup.

[2022-05-03 17:05] quaid opened #375 "New front page design"
https://www.operate-first.cloud/website-ng/

[2022-05-03 19:17] sesheta commented on #357
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-04 19:14] sesheta commented on #358
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-04 20:01] Fryguy commented on #358
Seems this was fixed in https://github.com/operate-first/operate-first.github.io/pull/362

[2022-05-04 20:01] #358 closed

[2022-05-08 10:44] mykaul commented on #373
Dup of https://github.com/operate-first/operate-first.github.io/issues/349 ?

[2022-05-10 07:36] durandom commented on #373
Hey thanks for the list ❤️
We're in the process of relaunching the website. See https://github.com/operate-first/website-ng

[2022-05-10 07:36] #373 closed

[2022-05-10 07:37] durandom commented on #349
Yes, it's relevant and sorry for not updating the issue.
We'll address the website by a relaunch soon.
See https://github.com/operate-first/website-ng

[2022-05-15 16:15] sesheta commented on #305
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 01:15] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 01:15] sesheta commented on #176
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 01:15] sesheta commented on #237
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 13:00] quaid commented on #349
Can you move all the still-relevant issues to the new repo? I don't seem to have the permissions (which is fine.)

[2022-05-16 13:13] durandom commented on #349
ADRs are now linked from https://www.operate-first.cloud/community-cloud

[2022-05-16 13:13] #349 closed

[2022-05-16 13:14] durandom commented on #371
since it's now the old website, it's not relevant anymore

[2022-05-16 13:14] #371 closed

[2022-05-16 13:15] durandom commented on #370
since we have a new website, not relevant anymore

[2022-05-16 13:15] #370 closed

[2022-05-16 13:15] durandom commented on #367
we have a new website - no relevant anymore

[2022-05-16 13:15] #367 closed

[2022-05-16 13:17] durandom commented on #357
Probably a question for services catalog? If we consider grafana to be a service
@4n4nd

[2022-05-16 13:19] durandom commented on #331
we have a new website - no relevant anymore

[2022-05-16 13:19] #331 closed

[2022-05-16 13:20] #305 closed

[2022-05-16 13:20] durandom commented on #237
/remove-lifecycle stale

[2022-06-14 16:58] quaid opened #380 "Top menu "Op1st Community Cloud" => "Our Community Cloud""

[2022-06-14 16:59] quaid opened #381 ""Getting Started" page is useful to people"

[2022-06-14 16:59] quaid opened #382 "Content refresh, stale link check, is all where it should be?"

[2022-06-14 17:00] quaid opened #384 "Generate list of what signifies the WG work is done"

[2022-06-15 03:48] sesheta commented on #176
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-12 16:57] quaid opened #385 "Blue boxes for "Who?" cards are not bounding the text and it looks accidental rather than intentional"
- The "s" is outside of the box for "SRE and DevOps"
- "and" could be "&" or padding fixed in CSS
- May want a dynamic solution

[2022-07-15 06:43] sesheta commented on #176
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-15 06:43] sesheta commented on #176
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io-old/issues/176#issuecomment-1185228943):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-07-15 06:43] #176 closed

[2022-07-19 16:20] schwesig opened #386 "Reword FAQs to remove the "X""
Reword FAQs to remove the "X" and make it an actual question, e.g. "Is my service down?" "What hardware can I get for free?" etc.

[2022-07-19 16:21] schwesig commented on #386
/users documentation
/sig community
/kind website
/kind documentation

[2022-07-19 16:35] schwesig opened #387 "Change "Join a movement" to "Join the movement" in SRE "who" cards"

[2022-07-19 16:36] schwesig commented on #387
/users documentation
/sig community
/kind website
/kind documentation

[2022-07-19 16:50] schwesig opened #388 "Page content appears before CSS consistently"
Page content appears before CSS consistently, is there a way  to fix this?

[2022-07-20 11:52] schwesig commented on #386
/close
PR [#116](https://github.com/operate-first/operate-first.github.io/pull/116) was merged

[2022-07-20 11:52] #386 closed

[2022-07-20 11:52] sesheta commented on #386
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io-old/issues/386#issuecomment-1190179182):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2022-07-20 11:52] schwesig commented on #387
/close
PR https://github.com/operate-first/operate-first.github.io/pull/116 was merged

[2022-07-20 11:52] sesheta commented on #387
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io-old/issues/387#issuecomment-1190179619):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2022-07-21 16:52] schwesig commented on #385
![image](https://user-images.githubusercontent.com/89909507/180270105-24e3f8c1-e58e-43a0-a290-ad213c2cf0d8.png)

[2022-07-21 17:50] schwesig commented on #385
/kind website
/kind documentation
/kind cleanup
/kind onboarding