[2020-09-23 07:30] durandom opened #51 "Document / Site Search"
We could also implement some sort of document search to index the docs and tags if that interests

as per https://github.com/operate-first/operate-first.github.io/pull/14#issuecomment-693525036

[2021-04-22 11:00] tumido opened #52 "Implement discussions and comments for the website"
https://utteranc.es/ is an opersource app providing a comments widget backed by Github issues - users comment on a website - it appears as a comment to an issue. Each path/site has it's own issue.

I think it would be neat to make this available at least for certain pages where we would appreaciate user feedback

/label hacktoberfest

[2021-11-10 23:53] quaid opened #50 "Feature: "OSS Project" pages for open source project tenants"

[2022-02-02 10:30] pacospace opened #49 "Where do we add all services groups tutorial to operate first website?"
https://github.com/AICoE/overlays-for-ai-pipeline-tutorial/issues/4
https://github.com/AICoE/manage-dependencies-tutorial/issues/4
https://github.com/AICoE/elyra-aidevsecops-tutorial/issues/389

[2022-02-15 21:00] carlosGimeno opened #48 "Change/Upgrade the Intro page of the Community Handbook"
Currently, the landing page of the Community Handbook when clicking the ["Community Handbook"](https://www.operate-first.cloud/community-handbook/) in the top Navbar is not very detailed and still references the Hitchiker Guide, which was replaced with the Community Handbook on a previous PR. I suggest replacing this page with the [General/Intro page](https://www.operate-first.cloud/community-hand

[2022-04-27 06:51] durandom opened #1 "add layout"
we should add a layout component like described at https://www.gatsbyjs.com/docs/recipes/pages-layouts/ and here https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/src/components/layout.js

[2022-04-27 16:53] bryanmontalvan commented on #1
@durandom I'm a bit confused on what exactly you want me to follow?

The page-layout on the docs shows
[code]

Our current is:
[code]

So what's really different is that the core JS file which is inside `/pages` so I'm assuming you would like `src/pages/index.js` to move to `/src/index.js`. As for the rest I'm confused exactly what you would like. Since `/templates` from the docs is different from

[2022-04-27 17:00] durandom commented on #1
Just keep our current structure, introduce a `Layout.js` component and use it in `index.js`, so that we can use the same in  e.g `about.js`

[2022-05-09 14:45] aakankshaduggal opened #14 "Add a redirect to Op1st in Action"
- [x] Add https://www.operate-first.cloud/action page
- [ ] Create a redirect to jupyterbook - https://operate-first-in-action.catalog.meteor.zone/README.html

[2022-05-10 08:48] codificat opened #15 "Implement an automated link checker"
To avoid situations like https://github.com/operate-first/operate-first.github.io/issues/373 or https://github.com/operate-first/operate-first.github.io/issues/349, consider adding an automated link checker that verifies all links in the website periodically.

It can run on new PRs (e.g. a pre-submit check) but should also run regularly without requiring PRs to happen.

[2022-05-11 16:01] aakankshaduggal opened #20 "Fix the footer at the bottom"
A suggestion for the new website design.

I feel if we fix the footer to the bottom of the page, it'd be great.
Right now it looks something like this :

![image](https://user-images.githubusercontent.com/26301643/167894985-7f91ddc3-20f5-4712-bf37-205dea7b723d.png)

Fixing the footer at the bottom will make the pages look more organized and neat.

[2022-05-11 16:06] bryanmontalvan commented on #20
@aakankshaduggal We can keep the footer fixed to the bottom, but the only issue is that it can overlay over other content. The reason why the footer is so high is because we have not populated the page with content :(

[2022-05-11 18:36] bryanmontalvan opened #25 "Add links to /community-cloud list items"
Could somebody add links to these? You can use a `<a href=""></a>`
[code]

LInk: https://www.operate-first.cloud/website-ng/community-cloud

![image](https://user-images.githubusercontent.com/68972382/167921613-7926858a-80e8-42e4-ab56-f111e83289f6.png)

[2022-05-11 18:54] aakankshaduggal commented on #25
/assign @aakankshaduggal

[2022-05-12 00:08] #25 closed

[2022-05-12 08:03] durandom opened #29 "go live"
Let's talk about how to make the transition

- [ ] rename https://github.com/operate-first/operate-first.github.io to operate-first.github.io-old
- [ ] rename https://github.com/operate-first/website-ng to operate-first.cloud
- [ ] configure operate-first.github.io-old to be available at operate-first.cloud/old
- [ ] configure operate-first.cloud be available at operate-first.cloud

@HumairAK can

[2022-05-12 13:06] schwesig commented on #14
looks done to me
#30 solves it

can be closed

[2022-05-12 13:12] #14 closed

[2022-05-12 13:55] HumairAK commented on #29
@durandom as far as I understand, you need to do this in 2 prs, first is to rename the repo to `old`, then to rename the new repo.
Previously we had to rename the `sre` repo to `operations`, so that a new `sre` repo could be created, to do this we did the following:

rename: https://github.com/operate-first/common/commit/164d1942319465a0ec8c01668dce8a9bf2f837b6
add new: https://github.com/operate-

[2022-05-12 16:33] bryanmontalvan commented on #20
/close

[2022-05-12 16:33] #20 closed

[2022-05-13 13:14] durandom commented on #29
it's done

[2022-05-13 13:14] #29 closed

[2022-05-16 12:50] quaid opened #47 ""Wall of logos" with quotes for "Our Community" page [Feature request]"
Feature is:

Page that has a grid of project logos, small and same-sized.

Clicking on a logo or scrolling goes the a growing list of sub-sections for each project.

In the sub-section is a pull quote (highlighted, stylized quote) from a project figure, the project logo, perhaps a background graphic or a real-time chart of something relevant to the project.

[2022-05-16 13:26] durandom opened #53 "New logo design"
@bryanmontalvan do you want to create a WIP PR with the new logo and background so that we can have a community vote?

[2022-05-16 18:07] #53 closed

[2022-05-16 20:43] quaid commented on #47
Thanks! If we had a layout with a mockup of a project it could help some of the discussions with folks.

[2022-05-17 12:34] codificat commented on #15
I have some experience using https://github.com/gjtorikian/html-proofer for a couple of jekyll websites.
But I'm sure there are multiple options available... probably worth a search to try and find one that works well with this site

[2022-05-23 19:50] bryanmontalvan opened #58 "Minimizing hero space along with more text"
With our current version we are taking up a-lot of space for our `hero` section (the main section on the homepage). I was thinking we could either do one of the following
1. Add a new background which is less one-dimensional and carries more depth
2. Shorten height of the hero-section

In conjunction to both of those, I think it would be best to also add a description text underneath the hero's ti

[2022-05-23 20:09] bryanmontalvan opened #60 "Create dynamic margin/padding for nav-pages"
## Description
Currently we have fixed padding between our bottom components and footer component on our nav-item pages. Depending on what type of content we have the pages can at times become too long (which looks worse on mobile)

**Preview of this:**
![image](https://user-images.githubusercontent.com/68972382/169895784-62b58715-941c-4468-8f52-7cdc6da0514c.png)
(Look at this on mobile :nauseated

[2022-05-23 20:11] bryanmontalvan commented on #60
/label good first issue

[2022-05-23 20:11] bryanmontalvan commented on #60
/label good-first-issue

[2022-05-23 20:11] sesheta commented on #60
@bryanmontalvan: The label(s) `/label good-first-issue` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/

[2022-05-24 14:08] bryanmontalvan opened #61 "Add banner/warning to home-page to alert when a cluster is down"
## Description:
Add some sort of alert/message which tells users when one of our clusters is down. Make the alert/message viewable in the home-page so users can see it without searching deep into the website

[2022-05-24 16:46] quaid opened #164 "Gather list of links (destinations) and if they are accessible from community"
Ask folks to use the website as their daily driver

[2022-05-24 16:47] quaid opened #163 "Check outbound links on all new menu pages, confirm pages are maintained"
Task scope:

- [ ] Look over all new pages to find outbound links
- [ ] Check that the linked-to page (where you go after you click) goes to a maintained webpage
- [ ] If the linked-to page needs something fixed, make an issue about it and put it on the project board

[2022-05-25 16:06] banstack opened #63 "Change the color of "things*" to yellow"
## Description
With the recent PR #41 the new front-page statement has been added. The `things*` is linkable and takes users to the `/about` page. The user will not know that the link is clickable

**What I think should be done**
1. Make `things*` yellow (to match the theme)
2. Add a hover effect to `things*`

## Screenshot:
![image](https://user-images.githubusercontent.com/68972382/170307154-920

[2022-05-31 17:45] quaid opened #165 "Final audit of all new pages"
The new five menu-item pages and the getting started page can use a few more read-throughs and suggestions for changes from various readers.

- [x] [Homepage](https://www.operate-first.cloud/)
  - [x] checked and issues were created
- [ ] [Purpose](https://www.operate-first.cloud/about)
  - [ ] in progress, some issues are created
- [ ] [Community](https://www.operate-first.cloud/our-community)
-

[2022-05-31 18:43] quaid opened #66 "Find and update any placeholder text"
There is some placeholder text on new pages and possibly in other places. Find and fix!

[2022-06-01 11:08] durandom opened #67 "link blog"
@quaid @schwesig where do we want to link to the blog? And how do we get back from the blog to the main page?
Or should we add the blogging to the main page?
mantine.dev also has styles for blog articles.

[2022-06-01 14:26] schwesig commented on #67
LINK to the Blog
on the main page my ideas would be here
1. <FontAwesomeIcon icon="fas fa-blog" />
![image](https://user-images.githubusercontent.com/89909507/171426947-66401d5f-0d54-4fa3-9ea8-304be4e0d6db.png)
and/or
2.
![image](https://user-images.githubusercontent.com/89909507/171428074-0ad532b6-41ad-4b34-af0a-166110d64c41.png)

[2022-06-01 14:28] quaid opened #68 "Add "Blog" to top menu"
just link to /blog

[2022-06-01 14:29] quaid commented on #68
/assign @schwesig

[2022-06-01 14:36] schwesig commented on #67
LINK to Main Page from Blog
![image](https://user-images.githubusercontent.com/89909507/171430256-9e5af458-528d-4314-be95-3bd216b749dd.png)
the link is already st correct, the design/layout/icons need to be changed.

[2022-06-02 15:16] bryanmontalvan commented on #67
I think the second option would be best in our current layout

[2022-06-02 16:36] quaid opened #70 "Fix broken links and search results"
This is a single issue for tracking broken links and search results that end up nowhere.

## broken links
Also mentioned:
- https://github.com/operate-first/community/issues/215

Ideas/ Problems:
- link issues can go in different repos (see mentioned above), e.g., support, community, and not necessarily here
  - how to catch them better
- link checker as a service
  - 1. gatsby plugin? https://www

[2022-06-02 16:36] quaid commented on #70
Search:  https://www.google.com/search?q=operate-first.cloud+data+science+meetup

Dead page:  https://www.operate-first.cloud/data-science/operate-first-data-science-community/docs/meetup-landing-page.md

[2022-06-03 19:07] bryanmontalvan commented on #58
/label good first issue

[2022-06-03 19:07] bryanmontalvan commented on #58
/good-first-issue

[2022-06-03 19:07] sesheta commented on #58
@bryanmontalvan:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-06-04 15:39] bryanmontalvan opened #74 "Services list unresponsive on mobile"
Services list/catalog seems to be unresponsive on mobile

My phone: iPhone 11

![image](https://user-images.githubusercontent.com/68972382/172012931-90677ff0-aabc-4930-9fd4-9d03747f5174.png)

[2022-06-07 10:29] durandom opened #76 "Link to Community and Community Handbook"
I can't find easy links to those two assets:
* https://www.operate-first.cloud/community/README.html
* https://github.com/operate-first/community-handbook

@quaid and what do you think about merging the above two repos?

@schwesig maybe link the "Operate First community planning repository" from https://www.operate-first.cloud/our-community/ ?
And with one of those bold call to action buttons?

[2022-06-07 14:12] schwesig commented on #76
/assign @schwesig

[2022-06-07 14:13] schwesig commented on #76
/area documentation

[2022-06-07 14:13] sesheta commented on #76
@schwesig: The label(s) `area/documentation` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/76#issuecomment-1148733484):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions

[2022-06-09 13:24] schwesig commented on #68
/closed by https://github.com/operate-first/operate-first.github.io/pull/72/

[2022-06-09 13:24] #68 closed

[2022-06-10 12:51] #74 closed

[2022-06-12 17:58] svihang8 commented on #60
@bryanmontalvan
@sesheta
Hello! I would like to work on this issue.

[2022-06-13 16:05] bryanmontalvan commented on #60
Hello @svihang8 sounds good! Feel free to work on it.

Look at our [README](https://github.com/operate-first/operate-first.github.io/blob/main/README.md) on how to install the website's codebase. And then submit a PR and we'll review it :)

[2022-06-14 12:55] durandom opened #80 "converge website and blog layout"
the blog and the website have a different layout, they don't share the same UI framework and generally have distinct publishing pipelines.

I propose we migrate the blog into the main website and use the mantine blog components - https://ui.mantine.dev/category/article-cards

This would reduce the amount of code to be maintained and we would share the same google analytics

cc @quaid @schwesig

[2022-06-14 12:56] durandom commented on #67
blog is linked 👏

let's discuss in another issue how we converge on the layout https://github.com/operate-first/operate-first.github.io/issues/80

[2022-06-14 16:58] quaid opened #167 "Top menu "Op1st Community Cloud" => "Our Community Cloud""

[2022-06-14 16:59] quaid opened #168 ""Getting Started" page is useful to people"

[2022-06-14 16:59] quaid opened #169 "Content refresh, stale link check, is all where it should be?"

[2022-06-14 17:00] quaid opened #170 ""Our purpose" page contains redundant getting started info"

[2022-06-14 17:00] quaid opened #171 "Generate list of what signifies the WG work is done"

[2022-06-14 17:02] durandom commented on #80
merge https://github.com/operate-first/blog to this website so that
* `/blog` points to an index of all recent blog posts (no paging needed)
* each blog post is rendered as an article card: https://ui.mantine.dev/category/article-cards
* clicking the post renders the article in the same way as the current blog site

check out https://github.com/LekoArts/gatsby-starter-minimal-blog and https://gith

[2022-06-15 17:12] #63 closed, assigned to nobody

[2022-06-16 16:51] schwesig commented on #80
@traytorous Awesome, man! I will try to take a closer look. You are very fast. Thanks for the call yesterday!

[2022-06-16 16:52] durandom commented on #80
@traytorous do you want to open a PR?

[2022-06-17 13:48] traytorous commented on #80
@durandom @schwesig I wouldn't recommend it. This is what it would look like if you accepted my pull request.
![operatefirsterror](https://user-images.githubusercontent.com/24616310/174311074-69bbceff-4fd4-43ff-9e8b-a584edd0fcad.png)

[2022-06-18 09:51] durandom commented on #80
@traytorous don't worry. We won't merge the PR until it's good. I can add commits and leave comments on the PR though. So please create one and we can continue the conversation there :)

[2022-06-21 00:42] traytorous commented on #80
It seems as though I resolved the issue. I pushed the changes. I had to lower the react version.

[2022-06-23 05:07] traytorous commented on #80
From my what i've seen trying to implement the Added gatsby-theme-minimal-blog-core plugin seem to bring in errors. When you run it on npm run, which means its in development mode, it outputs the json data associated with the blog posting, but it also run successfully. Which means that the data is there inside of the system. However trying to build the website on my local machine will either show

[2022-06-30 15:46] renovate[bot] opened #95 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency @mantine/hooks to v4.2.11
 - [ ] Update dependency eslint to v8.18.0
 - [ ] Update dependenc

[2022-06-30 19:54] aakankshaduggal opened #98 "Add Data Science Community Jupyterbook to the website"
Since the old website will soon be deprecated, here's a [jupyterbok](https://operate-first-data-science-community.catalog.meteor.zone/) for the Operate First Data Science Community Meetup.

IMO, [this](https://www.operate-first.cloud/our-community#:~:text=If%20you%E2%80%99re%20interested%20in%20data%20science%2C%20check%20out%20our%20data%20science%20projects.%20If%20you%20are%20more%20interested%

[2022-07-12 16:57] quaid opened #154 "Pale yellow boxes for "Who?" cards are not bounding the text and it looks accidental rather than intentional"
- The "s" is outside of the box for "SRE and DevOps"
- "and" could be "&" or padding fixed in CSS
- May want a dynamic solution

[2022-07-19 16:50] schwesig opened #119 "Page content appears before CSS consistently"
Page content appears before CSS consistently, is there a way  to fix this?

the first 1 to 3 seconds after refresh/ new load:
![image](https://user-images.githubusercontent.com/89909507/180009799-ededcfff-fb86-4f1f-adbb-1a80ad012512.png)

[2022-07-19 17:10] quaid opened #117 "Visual clean-up of Purpose page"
The page could use some visual elements to make it easier to read the text vs be overwhelmed:

- Look at narrowing the column slightly, see how it compares
- Use different font sizes for h1, h2, consider different color for headers
- Visually box the text, it could be a on a different background color, or have shading to visually set the box apart
- Make the overall font a little bigger.
- Add a p

[2022-07-19 17:13] quaid commented on #117
/area community
/kind website
/kind cleanup
/kind marketing

[2022-07-19 17:18] quaid opened #118 "Check spacing on FAQ cards when expanded/contracted, e.g. final card does not have space above the footer"

[2022-07-19 17:20] quaid opened #120 "Style guide for what are the website design choices"

[2022-07-20 13:34] schwesig commented on #118
ok
![image](https://user-images.githubusercontent.com/89909507/179995003-fa884b65-390d-4331-89c1-37a399aa7e53.png)
---
maybe
![image](https://user-images.githubusercontent.com/89909507/179995391-a37a069d-98cd-4683-96a6-4a407f57e226.png)
---
not ok
![image](https://user-images.githubusercontent.com/89909507/179995055-d77b8ab6-8a2d-4d0c-8b11-4430838c4e03.png)
---
not ok
![image](https://user-images.

[2022-07-20 13:35] schwesig commented on #118
/triage accpeted

[2022-07-20 13:38] schwesig commented on #120
/sig community
/kind handbook
/kind website
/kind documentation
/kind cleanup
/kind feature
/kind experience
/kind marketing

[2022-07-20 13:38] schwesig opened #122 "Consider making "you" of "are you interested" in a link to `/community`"
link to [https://www.operate-first.cloud/our-community](https://www.operate-first.cloud/our-community)

![image](https://user-images.githubusercontent.com/89909507/179997218-9cf9f649-a563-4972-a95a-64b4dffb89b8.png)

[2022-07-20 13:44] schwesig commented on #122
/sig community
/kind website
/kind cleanup
/kind marketing
/kind onboarding

[2022-07-20 13:44] schwesig commented on #122
/triage accpeted

[2022-07-20 13:44] sesheta commented on #122
@schwesig: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/122#issuecomment-1190306779):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-07-20 13:44] schwesig opened #123 "Make all clickable things the gold link color, e.g. the DS and communicate buttons"

[2022-07-20 13:45] schwesig commented on #120
https://github.com/operate-first/operate-first.github.io/issues/120

[2022-07-20 13:46] schwesig commented on #123
/sig community
/kind website
/kind cleanup
/kind feature
/kind experience
/kind marketing

[2022-07-20 13:46] schwesig opened #124 "Consider adding "Researcher" link to the "are you interested" section"
Adding a block/button "Researcher" and add a link to the content page.
So far, there isn't a researcher content page yet.

- [ ] create a researcher landing page
- [ ] add a "Researcher" button to the "are you interested" section

If the new button will be gold or white, may depend on the decisison here: https://github.com/operate-first/operate-first.github.io/issues/120
But #120 should not block

[2022-07-20 13:55] schwesig commented on #124
/users documentation
/sig community
/kind website
/kind documentation
/kind experience
/area user
/area contributor
/kind marketing

[2022-07-20 13:56] schwesig opened #125 "Consider adding "Student" link to the "are you interested" section"
Adding a block/button "Student" and add a link to the content page.
So far, there isn't a Student content page yet.

- [ ] create a student landing page
- [ ] add a "Student" button to the "are you interested" section

If the new button will be gold or white, may depend on the decisison here: https://github.com/operate-first/operate-first.github.io/issues/120
But #120 should not block this issue.

[2022-07-20 13:58] sesheta commented on #124
@schwesig: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/124#issuecomment-1190322912):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-07-20 13:58] schwesig commented on #125
/triage accpeted

[2022-07-20 13:58] sesheta commented on #125
@schwesig: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/125#issuecomment-1190322994):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-07-20 14:21] schwesig opened #126 "Idea: improve link to read "Data Science and AI Ops" instead of or in addition to "Learning Pathway""
a) replace `Data Science Learning Pathway` with `Data Science and AI Ops`
![image](https://user-images.githubusercontent.com/89909507/180006507-afe6bc86-fc98-44a9-af55-cea07a99e787.png)

or
b) add `Data Science and AI Ops`
![image](https://user-images.githubusercontent.com/89909507/180006639-5fe47002-ad49-4f4a-abad-fb2121a123fd.png)

If we go with b) (a second button `Data Science and AI Ops` in a

[2022-07-20 14:27] schwesig commented on #126
/users documentation
/sig community
/kind website
/kind documentation
/kind experience
/area user
/area contributor
/kind marketing

[2022-07-20 14:27] schwesig commented on #126
/triage accpeted

[2022-07-20 14:27] sesheta commented on #126
@schwesig: The label(s) `triage/accpeted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/126#issuecomment-1190357824):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-07-20 14:38] schwesig commented on #119
/triage accepted

[2022-07-20 14:39] schwesig opened #127 "Can "Data Science Learning Pathway" link be the same color as the others?"
Why is (2)`Data Science Learning Path` in white/ a different color than gold (1).
 - not on purpose
 - every other line in an alternating color
 - `Data Science Learning Path` is a different category than e.g. `Training`
 - ..?

![image](https://user-images.githubusercontent.com/89909507/180010423-44fa5447-7713-46ae-ae81-2c9bfc298f8a.png)

[2022-07-20 14:43] schwesig commented on #127
/sig community
/kind website
/kind cleanup
/kind experience
/kind marketing

[2022-07-20 14:43] schwesig commented on #127
/triage accepted

[2022-07-21 16:48] quaid opened #129 "Write blog post pointing to this board and all the of the Help Wanted items"
Use the "Help Wanted" on a business window image.

[2022-07-21 16:52] quaid commented on #129
/kind marketing
/area contributors
/help wanted
/sig community
/kind cleanup

[2022-07-21 16:52] sesheta commented on #129
@quaid: The label(s) `area/contributors` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/129#issuecomment-1191720670):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-07-22 16:09] schwesig commented on #127
/close
by https://github.com/operate-first/operate-first.github.io/pull/128

[2022-07-22 16:09] sesheta commented on #127
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/127#issuecomment-1192728633):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-07-22 16:09] #127 closed

[2022-07-25 06:34] schwesig opened #133 "[Blog] When refreshing the block main page, it jumps back to old/basic layout"
1. Starting at [operate-first.cloud](https://www.operate-first.cloud/)
1. Clicking link `Blog` in the top right menu
![image](https://user-images.githubusercontent.com/89909507/180711872-cf981938-dab8-492b-ace5-1cdb4441ac73.png)
1. leads to the expected result as planned here https://github.com/operate-first/operate-first.github.io/pull/89)looking
![image](https://user-images.githubusercontent.com

[2022-07-25 06:35] schwesig commented on #133
@traytorous @durandom @quaid
/sig community
/kind website
/kind cleanup
/kind bug

[2022-07-25 06:36] schwesig commented on #133
/priority important-soon

[2022-07-25 10:19] durandom commented on #133
resolved. I had to turn off GH pages for the blog repo

[2022-07-25 10:19] #133 closed

[2022-07-25 11:34] schwesig commented on #119
I found this topics, maybe it is similiar to what we have?
How are we importing the components?
I found e.g. `import { HomePage } from '../components/homepage/HomePage';` in [index.js](https://github.com/operate-first/operate-first.github.io/blob/main/src/pages/index.js)

[Source](https://forums.meteor.com/t/material-ui-v5-dialogs-and-menus-initial-open-lags-freezes/56842/16)

[2022-07-25 11:35] schwesig commented on #133
@durandom Thanks!

[2022-07-26 08:23] schwesig commented on #118
belongs together?
https://github.com/operate-first/operate-first.github.io/issues/60

[2022-07-26 08:25] schwesig commented on #119
Maybe not?
Input from @durandom in gChat 2022-07-26 03:15 @schwesig : @durandom
https://github.com/mantinedev/mantine/issues/1214
https://www.gatsbyjs.com/docs/glossary/server-side-rendering/

[2022-07-26 16:58] quaid opened #145 ""Who?" cards or something there should be clickable, link to Getting Started"
These are the pale yellow cards with "App Developers", "SRE and DevOps", and "Community" labels on them. These look clickable and should be, to take to those getting started pages

[2022-07-26 16:59] quaid opened #146 "What is the FAQ process?"

[2022-07-26 17:00] schwesig commented on #145
Finding or creating the right links/ content.

[2022-07-26 17:05] schwesig opened #147 "renaming the folder `operate-first.github.io/content/posts/` to sth like `operate-first.github.io/blog-content/posts/`"
renaming the folder `operate-first.github.io/content/posts/` to sth like `operate-first.github.io/blog-content/posts/`
- content alone can be maybe a bit misleading
- needs to be checked, if the name is customizable

[2022-07-26 17:08] schwesig commented on #147
/kind website
/kind feature

/cc @quaid
/cc @traytorous
/cc @durandom

[2022-07-26 19:05] sesheta commented on #1
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-27 05:25] schwesig commented on #1
/kind website

[2022-07-28 13:18] schwesig opened #150 "add service requirements from Open Services Group"
Where do put the link to the [service requirements md](https://github.com/open-services-group/community/tree/main/sig-services/service-requirements)

They will be converted to a juypter book before!

- [x] https://github.com/open-services-group/community/issues/250

[2022-07-28 13:24] schwesig commented on #150
/sig community
/kind handbook
/kind website
/kind documentation
/kind governance

[2022-07-28 13:24] schwesig commented on #150
/assign @schwesig

[2022-07-29 10:39] durandom opened #151 "add service requirements from Open Services Group"
- [ ] https://github.com/open-services-group/community/issues/250 https://docs.google.com/document/d/1Y2pafCZg0w0FYEHGgf9k_cnuglARsNSO_Gz51DUmczE/edit#heading=h.ccwbxmu7kk07
- [ ] find a suitable place for the link

[2022-07-29 10:39] durandom commented on #151
duplicate of https://github.com/operate-first/operate-first.github.io/issues/150

[2022-07-29 10:39] #151 closed

[2022-08-01 08:22] schwesig commented on #119
some additional ideas

- https://github.com/gatsbyjs/gatsby/issues/9902 (not totally fitting, we don't use styled-component, but mantine)
- https://stackoverflow.com/questions/71400494/flash-of-unstyled-content-fouc-for-nextjs-using-mantine
  - looking for maybe:
  - Flash of Unstyled Content ([FOUC](https://en.wikipedia.org/wiki/Flash_of_unstyled_content))
  - Flash of inAccurate coloR Theme ([FA

[2022-08-01 14:56] #154 closed

[2022-08-02 16:48] quaid opened #161 "Add link to mailing list logo in menu bar"
to the right of the slack logo

[2022-08-02 16:49] quaid commented on #123
/lgtm
/approve

[2022-08-02 16:49] schwesig commented on #123
in the WG Website update today we decided this issue to be approved

[2022-08-02 16:50] schwesig commented on #123
/close

[2022-08-02 16:50] sesheta commented on #123
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/123#issuecomment-1202981663):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-08-02 16:50] #123 closed

[2022-08-02 17:03] schwesig opened #162 "Changing "op1st" to "Operate First" on the community cloud"
https://www.operate-first.cloud/community-cloud

![image](https://user-images.githubusercontent.com/89909507/182432847-4c17de56-57a5-4292-b6a1-35ffb8375522.png)

[2022-08-02 17:05] schwesig commented on #162
/sig community
/kind website
/kind bug

[2022-08-02 17:23] schwesig opened #166 "Blog - Top Navigation menu visually jumps compared to the other pages"
https://www.operate-first.cloud/
vs
https://www.operate-first.cloud/blog

![Peek 2022-08-02 13-25](https://user-images.githubusercontent.com/89909507/182436614-7c094f20-d70a-4f43-9a39-3158005afc58.gif)

[2022-08-08 17:57] quaid opened #175 "Remove "Source" link at bottom of `/developer` page."

[2022-08-08 17:58] quaid commented on #175
/area contributor
/kind documentation
/kind experience
/kind website

[2022-08-08 17:59] quaid opened #176 "Change support link to https://github.com/operate-first/support"

[2022-08-08 18:08] quaid commented on #176
/area user
/kind documentation
/kind experience
/kind website

[2022-08-08 18:09] quaid opened #177 "Add a canonical "GitOps" definition link to developer page"
https://www.operate-first.cloud/developer/

Figure out a single definition for GitOps that we link, and make that the canonical link we use from this page and other "getting-started" pages.

e.g. https://www.redhat.com/en/topics/devops/what-is-gitops

[2022-08-08 18:10] quaid commented on #177
/area contributor
/area user
/kind documentation
/kind experience
/kind website
/kind handbook

[2022-08-08 18:10] quaid opened #178 "Developer page link to "issue template" should explain why an open template"
https://www.operate-first.cloud/developer/

Language such as:

"Open a general Question issue in the Op1st support repo using this template, which is a generic and open-ended format to begin the discussion. We need to first learn from each other what each of us has and what is needed, which starts with a shared understanding."

[2022-08-08 18:11] quaid commented on #178
/area contributor
/area user
/kind documentation
/kind experience
/kind website
/kind handbook

[2022-08-09 17:01] quaid commented on #117
Could add some graphic elements to break up the text.

Look to see if fully-justified on both sides makes the text easier to read.

Are there any diagrams needed or possible?

[2022-08-09 17:24] schwesig opened #179 "`Community` page links not working"
- [ ] Open Community Cloud Link is ending up in a 404 error --> should https://www.operate-first.cloud/community-cloud

![image](https://user-images.githubusercontent.com/89909507/183718093-c3cb2b57-09ad-45fa-a18c-bf51690d19a1.png)

[2022-08-15 16:06] sesheta commented on #48
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 16:06] sesheta commented on #49
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 16:06] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 16:06] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 19:06] sesheta commented on #47
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 19:06] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-18 19:38] Gregory-Pereira commented on #51
I see that this issue is still not assigned to anyone, and not currently active. Is this still a priority for us @durandom? If not can we close it? Alternatively maybe if we dont want to implement a search some Google dork commands could be provided in documentation?

/remove-lifecycle stale

[2022-08-18 19:41] Gregory-Pereira commented on #52
This seems like something that is not a priority for the foreseeable future. Can I close this for now @tumido?
/remove-lifecycle stale

[2022-08-18 20:02] traytorous commented on #161
/assign traytorous

[2022-08-18 20:37] Gregory-Pereira commented on #50
This seems like something that would fit better in an ADR rather than on an issue thread, what do you think @quaid? If not do you see this discussion progressing further or can it be closed?
/remove-lifecycle stale

[2022-08-18 20:43] Gregory-Pereira commented on #49
@pacospace, can we close this issue?
/remove-lifecycle stale

[2022-08-18 21:07] durandom commented on #51
can be closed. the site doesnt have too much content anyway

[2022-08-18 21:07] #51 closed

[2022-08-18 21:19] Gregory-Pereira commented on #48
@carlosGimeno I am going to close this seeing as it was identified as a duplicate of https://github.com/operate-first/community-handbook/issues/26. Feel free to reopen if this is not the case.

[2022-08-18 21:19] #48 closed

[2022-08-22 09:38] nijaba opened #185 "Blog entries have no <title>, but the mdx has a maintained meta section"
Received the following comment on LinkedIn. My .IDX file does have a title, bug must be in the page generation?

There is no title in your Title tag, so my bookmarking tool was angry ;-)

Error: Element title must not be empty.
From line 1, column 1845; to line 1, column 1852
et="true"></title><
https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.operate-first.cloud%2Fblog%2Foperate-first-operate-o

[2022-08-22 12:36] schwesig commented on #185
# Title #
@nijaba, thanks for letting us know.
react/gatsby seems to ignore the title information in the index.mdx in general.
All entries are missing the HTML title, although it is maintained in the .mdx file:
`https://github.com/operate-first/operate-first.github.io/blob/main/content/posts/operate-first-defined-4-words/index.mdx`
[code]
vs.
`https://www.operate-first.cloud/blog/operate-first-ope

[2022-08-22 12:39] schwesig commented on #185
# other checks #
[validator.w3.org/nu/?doc=https%3A%2F%2Fwww.operate-first.cloud%2Fblog%2Foperate-first-operate-open-governance-and-hybrid%2F](https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.operate-first.cloud%2Fblog%2Foperate-first-operate-open-governance-and-hybrid%2F)

maybe should be checked too

[2022-08-22 12:40] schwesig commented on #185
- [ ] MUST: check gatsby/ react settings for title tag creation
- [ ] SHOULD: check other validator error messages for correct settings

[2022-08-22 12:41] schwesig commented on #185
/kind bug
/kind website
/priority important-soon

[2022-08-22 16:08] sesheta commented on #61
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 19:08] sesheta commented on #66
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-31 19:09] sesheta commented on #70
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-01 14:45] schwesig commented on #70
/kind website
/sig community
/kind bug

[2022-09-01 14:58] schwesig opened #190 "content from removed md still needed"
https://github.com/operate-first/apps/pull/2333/files

reason:
- [docs/content/about/intro.md](https://github.com/operate-first/apps/pull/2333/files#diff-db6bf18686d33a1505a925477411dc9fceade6e116716549183fc44063c7b6cd) was deleted
- content still needed?
- if yes, add here: https://www.operate-first.cloud/getting-started/

[2022-09-01 14:59] schwesig commented on #190
/kind website
/sig community
/kind bug

[2022-09-01 15:26] schwesig commented on #190
/assign @quaid

[2022-09-05 16:09] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-11 16:11] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-14 22:02] sesheta commented on #47
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-14 22:02] sesheta commented on #15
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-21 07:16] sesheta commented on #80
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-21 19:06] sesheta commented on #61
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-27 10:35] schwesig opened #193 "google analytics uses gtag.js now, change gatsby-plugin-google-analytics to gatsby-plugin-google-gtag"
Google Analytics: Universal Analytics will no longer process new data in standard properties beginning July 1, 2023. Prepare now by setting up and switching over to a Google Analytics 4 property.

## [Universal Analytics will be going away](https://support.google.com/analytics/answer/11583528) ##
[Google Analytics 4](https://support.google.com/analytics/answer/10089681) is our next-generation meas

[2022-09-27 10:36] schwesig commented on #193
/assign @schwesig
/kind website
/kind cleanup
/priority important-soon

[2022-09-27 11:34] #193 closed

[2022-09-28 20:05] sesheta commented on #66
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-30 12:46] schwesig commented on #76
working on

--> https://www.operate-first.cloud/data-scientist/  under black box ```Open community cloud```
--> https://www.operate-first.cloud/our-community under yellow box ```Operate First community resources```

[2022-09-30 14:45] schwesig commented on #66
/assign @schwesig

[2022-09-30 14:46] schwesig commented on #61
/assign @schwesig

[2022-09-30 14:48] schwesig commented on #49
/assign @schwesig

[2022-09-30 14:48] schwesig commented on #70
/assign @schwesig

[2022-09-30 14:51] schwesig commented on #179
/close was fixed in one of the last PRs about website clean up

[2022-09-30 14:51] schwesig commented on #179
close

[2022-09-30 14:51] #179 closed

[2022-09-30 14:56] schwesig commented on #176
@quaid I checked the current web pages and all support related links were connected to https://github.com/operate-first/support
do you remember, what page you experienced a not working/ wrong link?

/assign @quaid

[2022-09-30 15:08] schwesig commented on #76
fixes in https://github.com/operate-first/operate-first.github.io/pull/195

[2022-10-03 18:48] schwesig opened #197 "create a meetup landing page for mails etc"
for an easier and more user friendly approach after following an email or twitter (general social media) link

[2022-10-03 18:49] schwesig commented on #197
/assign @schwesig
/kind website
/user experience
/triage accepted
/priority critical-urgent

[2022-10-03 19:05] #197 closed

[2022-10-04 09:45] #76 closed

[2022-10-04 14:14] schwesig opened #199 "create an universal .ics calendar file for Meetup"
The link to the google calendar is not working for everyone, especially outside Red Hat or when not using gCalendar
to not exclude anybody, there should be a platform-independent solution.
For a longterm idea, this could be a public calendar on operate-first, for know an ICS file should do the job

- [ ] create a universal .ics file for the bi-weekly Operate First Data Science Meetup
- [ ] add it

[2022-10-04 14:15] schwesig commented on #199
/assign @schwesig
/priority critical-urgent
/kind expereince
/user experience
/triage accepted

[2022-10-04 14:15] sesheta commented on #199
@schwesig: The label(s) `kind/expereince` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/199#issuecomment-1267075935):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2022-10-04 15:47] schwesig opened #200 "replace operate-first.cloud/data-science/operate-first-data-science-community/docs/content.md"
operate-first.cloud/data-science/operate-first-data-science-community/docs/content.md
to
old.operate-first.cloud/data-science/operate-first-data-science-community/docs/content.md

also check other operate-first.cloud/data-science/operate-first-data-science-community/ links

[2022-10-06 09:42] schwesig opened #201 "[website] 2 clicks to show at a summit"

[2022-10-06 09:54] schwesig opened #202 "change all links that go to open service group repo (onboarding)"
https://github.com/orgs/open-services-group/projects/22
- [x] create an issue template in operate first repo
- [x] change all links that go to open service group repo (onboarding)

[2022-10-10 11:32] schwesig commented on #202
/assign @schwesig

[2022-10-10 13:33] quaid commented on #176
I think this must have been fixed? I don't find any incorrect links, so I'll close this.

[2022-10-10 13:33] #176 closed

[2022-10-10 22:23] schwesig commented on #167
/close
outdated

[2022-10-10 22:23] #167 closed

[2022-10-10 22:23] sesheta commented on #167
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/167#issuecomment-1273870082):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-10-10 22:26] schwesig commented on #162
/close
fixed in one of the current clean up PRs by @schwesig

[2022-10-10 22:26] #162 closed

[2022-10-10 22:26] sesheta commented on #162
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/162#issuecomment-1273872089):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-10-11 01:39] Green-Ranger11 commented on #166
Could I work on this issue?

[2022-10-11 06:26] schwesig commented on #166
Hi @Green-Ranger11,
Yes, please! Awesome. I would appreciate this.
I wasn't able to figure it out.

[2022-10-11 23:08] Green-Ranger11 commented on #166
The simplest fix is setting a min-height on this blog page as I've done [here](https://github.com/Green-Ranger11/operate-first.github.io/commit/7d92440d0d0d0e8b0ea939dad85b1cf0b0ec1d1f).

Another option would set the min-height on the `layout` component but breaks some pages' styles. Would you be open to a one-line PR?

[2022-10-12 08:15] schwesig commented on #166
sure, PRs are fine and good to test also.
Feel free.
thanks for figuring out the two ways.

breaking the style in general is not an option in my opinion.
let's go with the min height.

if I see it right, you are using height.
the jumping is left/ right thing. interesting that this can fix it. didn't think about it.

[2022-10-13 12:05] schwesig commented on #166
@Green-Ranger11 awesome works like a charm
great fix
hacktoberfest accepted

[2022-10-13 12:11] schwesig commented on #166
@Green-Ranger11 feel free to open issues (e.g. website fixes, design ideas etc) yourself.

[2022-10-13 13:24] schwesig opened #207 "training defect link list, dynamic, please add, edit, solve"
- /operate-first/training/courses/course-operate_first_intro/op1st_concept.md
  - https://www.operate-first.cloud/training/course-open_source_basics
- /operate-first/training/courses/course-operate_first_intro/upstream_first.md
  - https://operate-first.cloud/training/course-open_source_basics
- /operate-first/training/courses/index.html
  - https://operate-first.cloud/training/course-open_source_

[2022-10-13 16:12] #166 closed

[2022-10-18 14:12] sesheta commented on #120
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-18 14:12] sesheta commented on #124
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-18 14:12] sesheta commented on #125
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-19 17:12] sesheta commented on #126
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-21 08:12] sesheta commented on #80
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-21 17:01] schwesig commented on #207
correct paths
https://www.operate-first.cloud/training/open_source_basics
https://www.operate-first.cloud/training/operate_first_intro
https://www.operate-first.cloud/training/open_source_licensing

[2022-10-21 17:10] schwesig commented on #207
seems to be solved in one of the last cleanup PRs
search in /training and /operate-first.github.io for any trainings/courses or op1st_concept.md or upstream_first.md didn't show any results
/close

[2022-10-21 17:10] sesheta commented on #207
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/207#issuecomment-1287230520):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-10-21 17:10] #207 closed

[2022-10-21 17:39] schwesig commented on #202
template exists, was moved
links checked in

- [ ] /operate-first.github.io
- [ ] /training
- [ ] /community
  - [ ] --> README.MD --> quay.io/open-services-group/community-tooling, but still OK
- [ ] /data-science-community
  - [ ] some jpynb files are pointing to the repo, but still OK

[2022-10-21 17:39] schwesig commented on #202
/close
links checked
template exists

[2022-10-21 17:39] #202 closed

[2022-10-21 17:39] sesheta commented on #202
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/202#issuecomment-1287257905):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-10-21 17:52] schwesig opened #209 "update logo and favico on operate-first.cloud/community/open-source-services.html"
update logo and favico on https://www.operate-first.cloud/community/open-source-services.html

the old logo ![image](https://user-images.githubusercontent.com/89909507/197259075-b761f6e1-2491-484d-a5e1-13c1ab2aec39.png)
needs to be replaced with this one
![image](https://user-images.githubusercontent.com/89909507/197259184-9525b62b-fa22-4b29-bfcd-ece55b5e756a.png)

files in  here https://github.co

[2022-10-21 18:03] schwesig commented on #147
/close
low priority

[2022-10-21 18:03] #147 closed

[2022-10-21 18:03] sesheta commented on #147
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/147#issuecomment-1287280516):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-10-21 19:23] pratik2315 commented on #209
Hey @schwesig
I would like to work on this issue if its alright.

[2022-10-22 02:40] Kishore-abhimanyu commented on #209
Can you assign me this issue?

[2022-10-23 05:15] schwesig commented on #209
@pratik2315 yes for sure!
feel free :-) looking forward to it

[2022-10-23 09:57] pratik2315 commented on #209
Hey @schwesig I don't think I understand. Do I have to make changes in 'operate-first/community' repository or this repo itself. I was not able to find any of these icons in this repository. Can you pls clear out my doubts.

[2022-10-24 08:10] schwesig commented on #209
Sure, no problem:
the files in this repo are old and need to be updated
https://github.com/operate-first/community/tree/0a15ca4c3e9a593c56c7a8c0ad21f02bc50b9881/img
so, yes, changes need to be made in the repo 'operate-first/community' in the folder 'operate-first/community/img'

sure, no problem. getting the whole setup

[2022-10-24 17:15] sesheta commented on #98
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-24 17:15] sesheta commented on #145
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-24 17:15] sesheta commented on #146
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-25 08:15] sesheta commented on #1
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-30 17:15] sesheta commented on #66
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-30 17:15] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-30 17:15] sesheta commented on #66
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/66#issuecomment-1296306043):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-10-30 17:15] sesheta commented on #47
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/47#issuecomment-1296306050):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-10-31 20:17] sesheta commented on #163
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-31 20:17] sesheta commented on #164
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-31 20:17] sesheta commented on #168
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-31 20:17] sesheta commented on #169
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-31 20:17] sesheta commented on #170
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-02 19:23] schwesig commented on #47
/reopen

[2022-11-02 19:23] sesheta commented on #47
@schwesig: Reopened this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/47#issuecomment-1301107984):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-11-02 19:23] schwesig commented on #66
/reopen

[2022-11-02 19:23] sesheta commented on #66
@schwesig: Reopened this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/66#issuecomment-1301108409):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2022-11-09 13:53] schwesig commented on #209
https://github.com/operate-first/community

[2022-11-09 14:13] #209 closed

[2022-11-09 23:18] sesheta commented on #61
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-09 23:18] #15 closed

[2022-11-09 23:18] #61 closed

[2022-11-09 23:19] sesheta commented on #60
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-16 20:22] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-16 23:22] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-17 14:21] sesheta commented on #120
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-17 14:21] sesheta commented on #124
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-18 17:22] sesheta commented on #126
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-18 17:22] sesheta commented on #129
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-20 08:21] sesheta commented on #80
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-20 08:21] #80 closed

[2022-11-20 08:21] sesheta commented on #80
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first.github.io/issues/80#issuecomment-1321068112):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2022-11-23 17:22] sesheta commented on #145
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-23 17:22] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-24 08:22] sesheta commented on #1
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-30 17:24] sesheta commented on #190
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-30 20:23] sesheta commented on #163
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-30 20:23] sesheta commented on #168
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-30 20:23] sesheta commented on #169
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-30 20:23] sesheta commented on #171
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-30 20:23] sesheta commented on #170
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten